<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysDictDataMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.feign.system.entity.SysDictData" id="BaseResultMap">
        <result property="dictCode" column="dict_code"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="dictType" column="dict_type"/>
        <result property="cssClass" column="css_class"/>
        <result property="listClass" column="list_class"/>
        <result property="isDefault" column="is_default"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        dict_code,
        dict_sort,
        dict_label,
        dict_value,
        dict_type,
        css_class,
        list_class,
        is_default,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>


    <!--基本插入字段-->
    <sql id="Base_Insert_Column">
    <trim prefix="(" suffix=")" suffixOverrides=",">
        dict_code,
        dict_sort,
        dict_label,
        dict_value,
        dict_type,
        css_class,
        list_class,
        is_default,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </trim>
    </sql>

    <!--基本插入值-->
    <sql id="Base_Insert_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{sysDictData.dictCode,jdbcType=INTEGER},
            #{sysDictData.dictSort,jdbcType=INTEGER},
            #{sysDictData.dictLabel,jdbcType=VARCHAR},
            #{sysDictData.dictValue,jdbcType=VARCHAR},
            #{sysDictData.dictType,jdbcType=VARCHAR},
            #{sysDictData.cssClass,jdbcType=VARCHAR},
            #{sysDictData.listClass,jdbcType=VARCHAR},
            #{sysDictData.isDefault,jdbcType=CHAR},
            #{sysDictData.status,jdbcType=CHAR},
            #{sysDictData.createBy,jdbcType=BIGINT},
            #{sysDictData.createTime,jdbcType=TIMESTAMP},
            #{sysDictData.updateBy,jdbcType=BIGINT},
            #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            #{sysDictData.remark,jdbcType=VARCHAR}
    </trim>
    </sql>
    <!--基本选择插入字段-->
    <sql id="Base_Insert_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictData.dictCode != null">
                 dict_code,
            </if>
            <if test="sysDictData.dictSort != null">
                 dict_sort,
            </if>
            <if test="sysDictData.dictLabel != null">
                 dict_label,
            </if>
            <if test="sysDictData.dictValue != null">
                 dict_value,
            </if>
            <if test="sysDictData.dictType != null">
                 dict_type,
            </if>
            <if test="sysDictData.cssClass != null">
                 css_class,
            </if>
            <if test="sysDictData.listClass != null">
                 list_class,
            </if>
            <if test="sysDictData.isDefault != null">
                 is_default,
            </if>
            <if test="sysDictData.status != null">
                 status,
            </if>
            <if test="sysDictData.createBy != null">
                 create_by,
            </if>
            <if test="sysDictData.createTime != null">
                 create_time,
            </if>
            <if test="sysDictData.updateBy != null">
                 update_by,
            </if>
            <if test="sysDictData.updateTime != null">
                 update_time,
            </if>
            <if test="sysDictData.remark != null">
                 remark
            </if>
        </trim>
    </sql>

    <!--基本选择插入值-->
    <sql id="Base_Insert_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictData.dictCode != null">
                #{sysDictData.dictCode,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictSort != null">
                #{sysDictData.dictSort,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictLabel != null">
                #{sysDictData.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictValue != null">
                #{sysDictData.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictType != null">
                #{sysDictData.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.cssClass != null">
                #{sysDictData.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.listClass != null">
                #{sysDictData.listClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.isDefault != null">
                #{sysDictData.isDefault,jdbcType=CHAR},
            </if>
            <if test="sysDictData.status != null">
                #{sysDictData.status,jdbcType=CHAR},
            </if>
            <if test="sysDictData.createBy != null">
                #{sysDictData.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.createTime != null">
                #{sysDictData.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.updateBy != null">
                #{sysDictData.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.updateTime != null">
                #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.remark != null">
                #{sysDictData.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--基本更新-->
    <sql id="Base_Update">
        <set>
            dict_code = #{sysDictData.dictCode,jdbcType=INTEGER},
            dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER},
            dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR},
            dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR},
            dict_type = #{sysDictData.dictType,jdbcType=VARCHAR},
            css_class = #{sysDictData.cssClass,jdbcType=VARCHAR},
            list_class = #{sysDictData.listClass,jdbcType=VARCHAR},
            is_default = #{sysDictData.isDefault,jdbcType=CHAR},
            status = #{sysDictData.status,jdbcType=CHAR},
            create_by = #{sysDictData.createBy,jdbcType=BIGINT},
            create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysDictData.updateBy,jdbcType=BIGINT},
            update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysDictData.remark,jdbcType=VARCHAR}
        </set>
    </sql>
    <!--带有空值检查的基本更新-->
    <sql id="Base_Update_Selective">
        <set>
            <if test="sysDictData.dictCode != null">
                dict_code = #{sysDictData.dictCode,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictSort != null">
                dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictLabel != null">
                dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictValue != null">
                dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictType != null">
                dict_type = #{sysDictData.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.cssClass != null">
                css_class = #{sysDictData.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.listClass != null">
                list_class = #{sysDictData.listClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.isDefault != null">
                is_default = #{sysDictData.isDefault,jdbcType=CHAR},
            </if>
            <if test="sysDictData.status != null">
                status = #{sysDictData.status,jdbcType=CHAR},
            </if>
            <if test="sysDictData.createBy != null">
                create_by = #{sysDictData.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.createTime != null">
                create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.updateBy != null">
                update_by = #{sysDictData.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.updateTime != null">
                update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.remark != null">
                remark = #{sysDictData.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
        <if test="sysDictData.dictCode != null">
            and dict_code = #{sysDictData.dictCode,jdbcType=INTEGER}
        </if>
        <if test="sysDictData.dictSort != null">
            and dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER}
        </if>
        <if test="sysDictData.dictLabel != null">
            and dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR}
        </if>
        <if test="sysDictData.dictValue != null">
            and dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR}
        </if>
        <if test="sysDictData.dictType != null">
            and dict_type = #{sysDictData.dictType,jdbcType=VARCHAR}
        </if>
        <if test="sysDictData.cssClass != null">
            and css_class = #{sysDictData.cssClass,jdbcType=VARCHAR}
        </if>
        <if test="sysDictData.listClass != null">
            and list_class = #{sysDictData.listClass,jdbcType=VARCHAR}
        </if>
        <if test="sysDictData.isDefault != null">
            and is_default = #{sysDictData.isDefault,jdbcType=CHAR}
        </if>
        <if test="sysDictData.status != null">
            and status = #{sysDictData.status,jdbcType=CHAR}
        </if>
        <if test="sysDictData.createBy != null">
            and create_by = #{sysDictData.createBy,jdbcType=BIGINT}
        </if>
        <if test="sysDictData.createTime != null">
            and create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysDictData.updateBy != null">
            and update_by = #{sysDictData.updateBy,jdbcType=BIGINT}
        </if>
        <if test="sysDictData.updateTime != null">
            and update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysDictData.remark != null">
            and remark = #{sysDictData.remark,jdbcType=VARCHAR}
        </if>
    </sql>

    <!--模糊查询条件 -->
    <sql id="Base_Query_Like_Where">
        <if test="sysDictData.dictCode != null">
            and dict_code like concat('%',concat(#{sysDictData.dictCode},'%'))
        </if>
        <if test="sysDictData.dictSort != null">
            and dict_sort like concat('%',concat(#{sysDictData.dictSort},'%'))
        </if>
        <if test="sysDictData.dictLabel != null">
            and dict_label like concat('%',concat(#{sysDictData.dictLabel},'%'))
        </if>
        <if test="sysDictData.dictValue != null">
            and dict_value like concat('%',concat(#{sysDictData.dictValue},'%'))
        </if>
        <if test="sysDictData.dictType != null">
            and dict_type like concat('%',concat(#{sysDictData.dictType},'%'))
        </if>
        <if test="sysDictData.cssClass != null">
            and css_class like concat('%',concat(#{sysDictData.cssClass},'%'))
        </if>
        <if test="sysDictData.listClass != null">
            and list_class like concat('%',concat(#{sysDictData.listClass},'%'))
        </if>
        <if test="sysDictData.isDefault != null">
            and is_default like concat('%',concat(#{sysDictData.isDefault},'%'))
        </if>
        <if test="sysDictData.status != null">
            and status like concat('%',concat(#{sysDictData.status},'%'))
        </if>
        <if test="sysDictData.createBy != null">
            and create_by like concat('%',concat(#{sysDictData.createBy},'%'))
        </if>
        <if test="sysDictData.createTime != null">
            and create_time like concat('%',concat(#{sysDictData.createTime},'%'))
        </if>
        <if test="sysDictData.updateBy != null">
            and update_by like concat('%',concat(#{sysDictData.updateBy},'%'))
        </if>
        <if test="sysDictData.updateTime != null">
            and update_time like concat('%',concat(#{sysDictData.updateTime},'%'))
        </if>
        <if test="sysDictData.remark != null">
            and remark like concat('%',concat(#{sysDictData.remark},'%'))
        </if>
    </sql>

    <!--模糊查询 -->
    <sql id="Base_Query_Fuzzy_Where">
        or dict_code like concat('%',concat(#{sysDictData.searchValue},'%'))
        or dict_sort like concat('%',concat(#{sysDictData.searchValue},'%'))
        or dict_label like concat('%',concat(#{sysDictData.searchValue},'%'))
        or dict_value like concat('%',concat(#{sysDictData.searchValue},'%'))
        or dict_type like concat('%',concat(#{sysDictData.searchValue},'%'))
        or css_class like concat('%',concat(#{sysDictData.searchValue},'%'))
        or list_class like concat('%',concat(#{sysDictData.searchValue},'%'))
        or is_default like concat('%',concat(#{sysDictData.searchValue},'%'))
        or status like concat('%',concat(#{sysDictData.searchValue},'%'))
        or create_by like concat('%',concat(#{sysDictData.searchValue},'%'))
        or create_time like concat('%',concat(#{sysDictData.searchValue},'%'))
        or update_by like concat('%',concat(#{sysDictData.searchValue},'%'))
        or update_time like concat('%',concat(#{sysDictData.searchValue},'%'))
        or remark like concat('%',concat(#{sysDictData.searchValue},'%'))
    </sql>


    <sql id="Order_By">
        order by
        <if test="sysDictData.orderBy != null and sysDictData.orderBy != ''">
            #{sysDictData.orderBy}
        </if>
        <if test="sysDictData.orderBy == null or sysDictData.orderBy==''">
            #{sysDictData.dict_code}
        </if>
        <if test="baseService.isAsc  == 1">
            DESC
        </if>
    </sql>

    <sql id="Time_Limit">
        <if test="sysDictData.beginTime != null">
            and DATE_FORMAT(#{sysDictData.createTime},'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="sysDictData.endTime != null">
            and DATE_FORMAT(#{sysDictData.createTime},'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
    </sql>

    <!--插入更新-->
    <sql id="On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            dict_code = #{sysDictData.dictCode,jdbcType=INTEGER},
            dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER},
            dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR},
            dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR},
            dict_type = #{sysDictData.dictType,jdbcType=VARCHAR},
            css_class = #{sysDictData.cssClass,jdbcType=VARCHAR},
            list_class = #{sysDictData.listClass,jdbcType=VARCHAR},
            is_default = #{sysDictData.isDefault,jdbcType=CHAR},
            status = #{sysDictData.status,jdbcType=CHAR},
            create_by = #{sysDictData.createBy,jdbcType=BIGINT},
            create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysDictData.updateBy,jdbcType=BIGINT},
            update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysDictData.remark,jdbcType=VARCHAR}
         </trim>
    </sql>

    <!--带有空值检查的插入更新-->
    <sql id="On_Duplicate_Column_Selective_Update">
        <trim suffixOverrides=",">
            <if test="sysDictData.dictCode != null">
                dict_code = #{sysDictData.dictCode,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictSort != null">
                dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictLabel != null">
                dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictValue != null">
                dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictType != null">
                dict_type = #{sysDictData.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.cssClass != null">
                css_class = #{sysDictData.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.listClass != null">
                list_class = #{sysDictData.listClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.isDefault != null">
                is_default = #{sysDictData.isDefault,jdbcType=CHAR},
            </if>
            <if test="sysDictData.status != null">
                status = #{sysDictData.status,jdbcType=CHAR},
            </if>
            <if test="sysDictData.createBy != null">
                create_by = #{sysDictData.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.createTime != null">
                create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.updateBy != null">
                update_by = #{sysDictData.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.updateTime != null">
                update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.remark != null">
                remark = #{sysDictData.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            dict_code = values(dict_code),
            dict_sort = values(dict_sort),
            dict_label = values(dict_label),
            dict_value = values(dict_value),
            dict_type = values(dict_type),
            css_class = values(css_class),
            list_class = values(list_class),
            is_default = values(is_default),
            status = values(status),
            create_by = values(create_by),
            create_time = values(create_time),
            update_by = values(update_by),
            update_time = values(update_time),
            remark = values(remark),
        </trim>
    </sql>

    <!--带有控制判断的批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update_Selective">
        <trim suffixOverrides=",">
            <if test="sysDictData.dictCode != null">
                dict_code = #{item.dictCode,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictSort != null">
                dict_sort = #{item.dictSort,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictLabel != null">
                dict_label = #{item.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictValue != null">
                dict_value = #{item.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictType != null">
                dict_type = #{item.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.cssClass != null">
                css_class = #{item.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.listClass != null">
                list_class = #{item.listClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.isDefault != null">
                is_default = #{item.isDefault,jdbcType=CHAR},
            </if>
            <if test="sysDictData.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="sysDictData.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入，更新插入值-->
    <sql id="Batch_Operating_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{item.dictCode,jdbcType=INTEGER},
            #{item.dictSort,jdbcType=INTEGER},
            #{item.dictLabel,jdbcType=VARCHAR},
            #{item.dictValue,jdbcType=VARCHAR},
            #{item.dictType,jdbcType=VARCHAR},
            #{item.cssClass,jdbcType=VARCHAR},
            #{item.listClass,jdbcType=VARCHAR},
            #{item.isDefault,jdbcType=CHAR},
            #{item.status,jdbcType=CHAR},
            #{item.createBy,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=BIGINT},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.remark,jdbcType=VARCHAR}
        </trim>
    </sql>

    <!--批量更新-->
    <sql id="Batch_Update">
        <set>
            dict_code = #{item.dictCode,jdbcType=INTEGER},
            dict_sort = #{item.dictSort,jdbcType=INTEGER},
            dict_label = #{item.dictLabel,jdbcType=VARCHAR},
            dict_value = #{item.dictValue,jdbcType=VARCHAR},
            dict_type = #{item.dictType,jdbcType=VARCHAR},
            css_class = #{item.cssClass,jdbcType=VARCHAR},
            list_class = #{item.listClass,jdbcType=VARCHAR},
            is_default = #{item.isDefault,jdbcType=CHAR},
            status = #{item.status,jdbcType=CHAR},
            create_by = #{item.createBy,jdbcType=BIGINT},
            create_time = #{item.createTime,jdbcType=TIMESTAMP},
            update_by = #{item.updateBy,jdbcType=BIGINT},
            update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            remark = #{item.remark,jdbcType=VARCHAR}
        </set>
    </sql>

    <!--带有空值检查的批量更新-->
    <sql id="Batch_Update_selective">
        <set>
            <if test="item.dictCode != null">
                dict_code = #{item.dictCode,jdbcType=INTEGER},
            </if>
            <if test="item.dictSort != null">
                dict_sort = #{item.dictSort,jdbcType=INTEGER},
            </if>
            <if test="item.dictLabel != null">
                dict_label = #{item.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="item.dictValue != null">
                dict_value = #{item.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="item.dictType != null">
                dict_type = #{item.dictType,jdbcType=VARCHAR},
            </if>
            <if test="item.cssClass != null">
                css_class = #{item.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="item.listClass != null">
                list_class = #{item.listClass,jdbcType=VARCHAR},
            </if>
            <if test="item.isDefault != null">
                is_default = #{item.isDefault,jdbcType=CHAR},
            </if>
            <if test="item.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>

    <!--带有空值检查的批量操作字段-->
    <sql id="Batch_Operating_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.dictCode != null">
                dict_code ,
            </if>
            <if test="item.dictSort != null">
                dict_sort ,
            </if>
            <if test="item.dictLabel != null">
                dict_label ,
            </if>
            <if test="item.dictValue != null">
                dict_value ,
            </if>
            <if test="item.dictType != null">
                dict_type ,
            </if>
            <if test="item.cssClass != null">
                css_class ,
            </if>
            <if test="item.listClass != null">
                list_class ,
            </if>
            <if test="item.isDefault != null">
                is_default ,
            </if>
            <if test="item.status != null">
                status ,
            </if>
            <if test="item.createBy != null">
                create_by ,
            </if>
            <if test="item.createTime != null">
                create_time ,
            </if>
            <if test="item.updateBy != null">
                update_by ,
            </if>
            <if test="item.updateTime != null">
                update_time ,
            </if>
            <if test="item.remark != null">
                remark 
            </if>
        </trim>
    </sql>

    <!--带有空值检查的批量操作值-->
    <sql id="Batch_Operating_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.dictCode != null">
                #{item.dictCode,jdbcType=INTEGER},
            </if>
            <if test="item.dictSort != null">
                #{item.dictSort,jdbcType=INTEGER},
            </if>
            <if test="item.dictLabel != null">
                #{item.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="item.dictValue != null">
                #{item.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="item.dictType != null">
                #{item.dictType,jdbcType=VARCHAR},
            </if>
            <if test="item.cssClass != null">
                #{item.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="item.listClass != null">
                #{item.listClass,jdbcType=VARCHAR},
            </if>
            <if test="item.isDefault != null">
                #{item.isDefault,jdbcType=CHAR},
            </if>
            <if test="item.status != null">
                #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--插入-->
    <insert id="insert" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        insert into sys_dict_data
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
    </insert>

    <!--带有空值检查的插入-->
    <insert id="insertSelective" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        insert into sys_dict_data
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
    </insert>

    <!--更新-->
    <update id="updateByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        update sys_dict_data
        <include refid="Base_Update"/>
        <where>
            dict_code = #{sysDictData.dictCode,jdbcType=INTEGER}
        </where>
    </update>

    <!--带有空值检查的更新-->
    <update id="updateSelectiveByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        update sys_dict_data
        <include refid="Base_Update_Selective"/>
        <where>
            dict_code = #{sysDictData.dictCode,jdbcType=INTEGER}
         </where>
    </update>


    <!--更新插入-->
    <insert id="upsert" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        insert into sys_dict_data
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Update"/>
    </insert>


    <!--带有控制判断的更新插入-->
    <insert id="upsertSelective" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        insert into sys_dict_data
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Selective_Update"/>
    </insert>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_dict_data
        <include refid="Base_Insert_Column"/>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <include refid="Batch_Operating_Value"/>
        </foreach>
    </insert>


    <!-- 批量更新-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dict_data
            <include refid="Batch_Update"/>
            <where>
                <trim suffixOverrides=",">
                    dict_code = #{item.dictCode,jdbcType=INTEGER}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 批量更新插入-->
    <update id="batchUpsert" parameterType="java.util.List">
        insert into sys_dict_data
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Batch_Operating_Value"/>
        on duplicate Column update
        <include refid="Batch_On_Duplicate_Column_Update"/>
    </update>


    <!-- 带有控制判断的批量更新-->
    <update id="batchUpdateSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dict_data
            <include refid="Batch_Update_selective"/>
            <where>
                <trim suffixOverrides=",">
                    dict_code = #{item.dictCode,jdbcType=INTEGER}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 带有空值判断的批量插入-->
    <insert id="batchInsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_dict_data
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
        </foreach>
    </insert>

    <!-- 带有空值判断的批量更新插入-->
    <update id="batchUpsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_dict_data
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
            on duplicate Column update
            <include refid="Batch_On_Duplicate_Column_Update_Selective"/>
        </foreach>
    </update>


    <!--通过主键批量查询-->
    <select id="queryBatchPrimaryKeys" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            dict_code in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
            <include refid="Order_By"></include>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--通过主键批量查询-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            dict_code = #{dictCode,jdbcType=INTEGER}
        </where>
    </select>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--查询一个-->
    <select id="queryOne" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        limit 1
    </select>


    <!--条件模糊查询-->
    <select id="queryByLikeCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        <include refid="Time_Limit"></include>
    </select>


    <!--模糊查询-->
    <select id="queryFuzzy" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--条件查询数量-->
    <select id="queryCount" resultType="int" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select count(*) from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--条件删除-->
    <delete id="delete" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        delete from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_dict_data
        <where>
            <trim suffixOverrides=",">
                dict_code = #{dictCode,jdbcType=INTEGER}
            </trim>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatchByPrimaryKeys" parameterType="java.lang.Long">
        delete from sys_dict_data
        <where>
            dict_code in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
        </where>
    </delete>

    <!--分组统计-->
    <select id="statisticsGroup" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select ${sysDictData.statisticalProperty} as name,${sysDictData.statisticalMethod}(${sysDictData.statisticalProperty}) as value from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
         group by ${sysDictData.statisticalProperty}
    </select>

    <!--按日统计-->
    <select id="statisticsGroupByDay" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select date_format(create_time, '%Y-%m-%d') as name,${sysDictData.statisticalMethod}(${sysDictData.statisticalProperty}) as value from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        group by date_format(create_time,'%Y-%m-%d')
    </select>

    <!--按月统计-->
    <select id="statisticsGroupByMonth" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select date_format(create_time, '%Y-%m') as name, ${sysDictData.statisticalMethod}(${sysDictData.statisticalProperty}) as value from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
        </where>
            group by date_format(create_time,'%Y-%m')
    </select>

    <!--按年统计-->
    <select id="statisticsGroupByYear" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictData">
        select date_format(create_time, '%Y') as name,${sysDictData.statisticalMethod}(${sysDictData.statisticalProperty}) as value from sys_dict_data
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
         </where>
            group by date_format(create_time,'%Y')
    </select>

</mapper>