<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysDeptMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.feign.system.entity.SysDept" id="BaseResultMap">
        <result property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        dept_id,
        parent_id,
        ancestors,
        dept_name,
        order_num,
        leader,
        phone,
        email,
        status,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>


    <!--基本插入字段-->
    <sql id="Base_Insert_Column">
    <trim prefix="(" suffix=")" suffixOverrides=",">
        dept_id,
        parent_id,
        ancestors,
        dept_name,
        order_num,
        leader,
        phone,
        email,
        status,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </trim>
    </sql>

    <!--基本插入值-->
    <sql id="Base_Insert_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{sysDept.deptId,jdbcType=BIGINT},
            #{sysDept.parentId,jdbcType=INTEGER},
            #{sysDept.ancestors,jdbcType=VARCHAR},
            #{sysDept.deptName,jdbcType=VARCHAR},
            #{sysDept.orderNum,jdbcType=INTEGER},
            #{sysDept.leader,jdbcType=VARCHAR},
            #{sysDept.phone,jdbcType=VARCHAR},
            #{sysDept.email,jdbcType=VARCHAR},
            #{sysDept.status,jdbcType=CHAR},
            #{sysDept.delFlag,jdbcType=CHAR},
            #{sysDept.createBy,jdbcType=BIGINT},
            #{sysDept.createTime,jdbcType=TIMESTAMP},
            #{sysDept.updateBy,jdbcType=BIGINT},
            #{sysDept.updateTime,jdbcType=TIMESTAMP},
            #{sysDept.remark,jdbcType=VARCHAR}
    </trim>
    </sql>
    <!--基本选择插入字段-->
    <sql id="Base_Insert_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDept.deptId != null">
                 dept_id,
            </if>
            <if test="sysDept.parentId != null">
                 parent_id,
            </if>
            <if test="sysDept.ancestors != null">
                 ancestors,
            </if>
            <if test="sysDept.deptName != null">
                 dept_name,
            </if>
            <if test="sysDept.orderNum != null">
                 order_num,
            </if>
            <if test="sysDept.leader != null">
                 leader,
            </if>
            <if test="sysDept.phone != null">
                 phone,
            </if>
            <if test="sysDept.email != null">
                 email,
            </if>
            <if test="sysDept.status != null">
                 status,
            </if>
            <if test="sysDept.delFlag != null">
                 del_flag,
            </if>
            <if test="sysDept.createBy != null">
                 create_by,
            </if>
            <if test="sysDept.createTime != null">
                 create_time,
            </if>
            <if test="sysDept.updateBy != null">
                 update_by,
            </if>
            <if test="sysDept.updateTime != null">
                 update_time,
            </if>
            <if test="sysDept.remark != null">
                 remark
            </if>
        </trim>
    </sql>

    <!--基本选择插入值-->
    <sql id="Base_Insert_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDept.deptId != null">
                #{sysDept.deptId,jdbcType=BIGINT},
            </if>
            <if test="sysDept.parentId != null">
                #{sysDept.parentId,jdbcType=INTEGER},
            </if>
            <if test="sysDept.ancestors != null">
                #{sysDept.ancestors,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.deptName != null">
                #{sysDept.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.orderNum != null">
                #{sysDept.orderNum,jdbcType=INTEGER},
            </if>
            <if test="sysDept.leader != null">
                #{sysDept.leader,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.phone != null">
                #{sysDept.phone,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.email != null">
                #{sysDept.email,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.status != null">
                #{sysDept.status,jdbcType=CHAR},
            </if>
            <if test="sysDept.delFlag != null">
                #{sysDept.delFlag,jdbcType=CHAR},
            </if>
            <if test="sysDept.createBy != null">
                #{sysDept.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.createTime != null">
                #{sysDept.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.updateBy != null">
                #{sysDept.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.updateTime != null">
                #{sysDept.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.remark != null">
                #{sysDept.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--基本更新-->
    <sql id="Base_Update">
        <set>
            dept_id = #{sysDept.deptId,jdbcType=BIGINT},
            parent_id = #{sysDept.parentId,jdbcType=INTEGER},
            ancestors = #{sysDept.ancestors,jdbcType=VARCHAR},
            dept_name = #{sysDept.deptName,jdbcType=VARCHAR},
            order_num = #{sysDept.orderNum,jdbcType=INTEGER},
            leader = #{sysDept.leader,jdbcType=VARCHAR},
            phone = #{sysDept.phone,jdbcType=VARCHAR},
            email = #{sysDept.email,jdbcType=VARCHAR},
            status = #{sysDept.status,jdbcType=CHAR},
            del_flag = #{sysDept.delFlag,jdbcType=CHAR},
            create_by = #{sysDept.createBy,jdbcType=BIGINT},
            create_time = #{sysDept.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysDept.updateBy,jdbcType=BIGINT},
            update_time = #{sysDept.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysDept.remark,jdbcType=VARCHAR}
        </set>
    </sql>
    <!--带有空值检查的基本更新-->
    <sql id="Base_Update_Selective">
        <set>
            <if test="sysDept.deptId != null">
                dept_id = #{sysDept.deptId,jdbcType=BIGINT},
            </if>
            <if test="sysDept.parentId != null">
                parent_id = #{sysDept.parentId,jdbcType=INTEGER},
            </if>
            <if test="sysDept.ancestors != null">
                ancestors = #{sysDept.ancestors,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.deptName != null">
                dept_name = #{sysDept.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.orderNum != null">
                order_num = #{sysDept.orderNum,jdbcType=INTEGER},
            </if>
            <if test="sysDept.leader != null">
                leader = #{sysDept.leader,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.phone != null">
                phone = #{sysDept.phone,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.email != null">
                email = #{sysDept.email,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.status != null">
                status = #{sysDept.status,jdbcType=CHAR},
            </if>
            <if test="sysDept.delFlag != null">
                del_flag = #{sysDept.delFlag,jdbcType=CHAR},
            </if>
            <if test="sysDept.createBy != null">
                create_by = #{sysDept.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.createTime != null">
                create_time = #{sysDept.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.updateBy != null">
                update_by = #{sysDept.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.updateTime != null">
                update_time = #{sysDept.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.remark != null">
                remark = #{sysDept.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
        <if test="sysDept.deptId != null">
            and dept_id = #{sysDept.deptId,jdbcType=BIGINT}
        </if>
        <if test="sysDept.parentId != null">
            and parent_id = #{sysDept.parentId,jdbcType=INTEGER}
        </if>
        <if test="sysDept.ancestors != null">
            and ancestors = #{sysDept.ancestors,jdbcType=VARCHAR}
        </if>
        <if test="sysDept.deptName != null">
            and dept_name = #{sysDept.deptName,jdbcType=VARCHAR}
        </if>
        <if test="sysDept.orderNum != null">
            and order_num = #{sysDept.orderNum,jdbcType=INTEGER}
        </if>
        <if test="sysDept.leader != null">
            and leader = #{sysDept.leader,jdbcType=VARCHAR}
        </if>
        <if test="sysDept.phone != null">
            and phone = #{sysDept.phone,jdbcType=VARCHAR}
        </if>
        <if test="sysDept.email != null">
            and email = #{sysDept.email,jdbcType=VARCHAR}
        </if>
        <if test="sysDept.status != null">
            and status = #{sysDept.status,jdbcType=CHAR}
        </if>
        <if test="sysDept.delFlag != null">
            and del_flag = #{sysDept.delFlag,jdbcType=CHAR}
        </if>
        <if test="sysDept.createBy != null">
            and create_by = #{sysDept.createBy,jdbcType=BIGINT}
        </if>
        <if test="sysDept.createTime != null">
            and create_time = #{sysDept.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysDept.updateBy != null">
            and update_by = #{sysDept.updateBy,jdbcType=BIGINT}
        </if>
        <if test="sysDept.updateTime != null">
            and update_time = #{sysDept.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysDept.remark != null">
            and remark = #{sysDept.remark,jdbcType=VARCHAR}
        </if>
    </sql>

    <!--模糊查询条件 -->
    <sql id="Base_Query_Like_Where">
        <if test="sysDept.deptId != null">
            and dept_id like concat('%',concat(#{sysDept.deptId},'%'))
        </if>
        <if test="sysDept.parentId != null">
            and parent_id like concat('%',concat(#{sysDept.parentId},'%'))
        </if>
        <if test="sysDept.ancestors != null">
            and ancestors like concat('%',concat(#{sysDept.ancestors},'%'))
        </if>
        <if test="sysDept.deptName != null">
            and dept_name like concat('%',concat(#{sysDept.deptName},'%'))
        </if>
        <if test="sysDept.orderNum != null">
            and order_num like concat('%',concat(#{sysDept.orderNum},'%'))
        </if>
        <if test="sysDept.leader != null">
            and leader like concat('%',concat(#{sysDept.leader},'%'))
        </if>
        <if test="sysDept.phone != null">
            and phone like concat('%',concat(#{sysDept.phone},'%'))
        </if>
        <if test="sysDept.email != null">
            and email like concat('%',concat(#{sysDept.email},'%'))
        </if>
        <if test="sysDept.status != null">
            and status like concat('%',concat(#{sysDept.status},'%'))
        </if>
        <if test="sysDept.delFlag != null">
            and del_flag like concat('%',concat(#{sysDept.delFlag},'%'))
        </if>
        <if test="sysDept.createBy != null">
            and create_by like concat('%',concat(#{sysDept.createBy},'%'))
        </if>
        <if test="sysDept.createTime != null">
            and create_time like concat('%',concat(#{sysDept.createTime},'%'))
        </if>
        <if test="sysDept.updateBy != null">
            and update_by like concat('%',concat(#{sysDept.updateBy},'%'))
        </if>
        <if test="sysDept.updateTime != null">
            and update_time like concat('%',concat(#{sysDept.updateTime},'%'))
        </if>
        <if test="sysDept.remark != null">
            and remark like concat('%',concat(#{sysDept.remark},'%'))
        </if>
    </sql>

    <!--模糊查询 -->
    <sql id="Base_Query_Fuzzy_Where">
        or dept_id like concat('%',concat(#{sysDept.searchValue},'%'))
        or parent_id like concat('%',concat(#{sysDept.searchValue},'%'))
        or ancestors like concat('%',concat(#{sysDept.searchValue},'%'))
        or dept_name like concat('%',concat(#{sysDept.searchValue},'%'))
        or order_num like concat('%',concat(#{sysDept.searchValue},'%'))
        or leader like concat('%',concat(#{sysDept.searchValue},'%'))
        or phone like concat('%',concat(#{sysDept.searchValue},'%'))
        or email like concat('%',concat(#{sysDept.searchValue},'%'))
        or status like concat('%',concat(#{sysDept.searchValue},'%'))
        or del_flag like concat('%',concat(#{sysDept.searchValue},'%'))
        or create_by like concat('%',concat(#{sysDept.searchValue},'%'))
        or create_time like concat('%',concat(#{sysDept.searchValue},'%'))
        or update_by like concat('%',concat(#{sysDept.searchValue},'%'))
        or update_time like concat('%',concat(#{sysDept.searchValue},'%'))
        or remark like concat('%',concat(#{sysDept.searchValue},'%'))
    </sql>


    <sql id="Order_By">
        order by
        <if test="sysDept.orderBy != null and sysDept.orderBy != ''">
            #{sysDept.orderBy}
        </if>
        <if test="sysDept.orderBy == null or sysDept.orderBy==''">
            #{sysDept.deptId}
        </if>
        <if test="sysDept.isAsc  == 1">
            DESC
        </if>
    </sql>

    <sql id="Time_Limit">
        <if test="sysDept.beginTime != null">
            and DATE_FORMAT(#{sysDept.createTime},'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="sysDept.endTime != null">
            and DATE_FORMAT(#{sysDept.createTime},'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
    </sql>

    <!--插入更新-->
    <sql id="On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            dept_id = #{sysDept.deptId,jdbcType=BIGINT},
            parent_id = #{sysDept.parentId,jdbcType=INTEGER},
            ancestors = #{sysDept.ancestors,jdbcType=VARCHAR},
            dept_name = #{sysDept.deptName,jdbcType=VARCHAR},
            order_num = #{sysDept.orderNum,jdbcType=INTEGER},
            leader = #{sysDept.leader,jdbcType=VARCHAR},
            phone = #{sysDept.phone,jdbcType=VARCHAR},
            email = #{sysDept.email,jdbcType=VARCHAR},
            status = #{sysDept.status,jdbcType=CHAR},
            del_flag = #{sysDept.delFlag,jdbcType=CHAR},
            create_by = #{sysDept.createBy,jdbcType=BIGINT},
            create_time = #{sysDept.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysDept.updateBy,jdbcType=BIGINT},
            update_time = #{sysDept.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysDept.remark,jdbcType=VARCHAR}
         </trim>
    </sql>

    <!--带有空值检查的插入更新-->
    <sql id="On_Duplicate_Column_Selective_Update">
        <trim suffixOverrides=",">
            <if test="sysDept.deptId != null">
                dept_id = #{sysDept.deptId,jdbcType=BIGINT},
            </if>
            <if test="sysDept.parentId != null">
                parent_id = #{sysDept.parentId,jdbcType=INTEGER},
            </if>
            <if test="sysDept.ancestors != null">
                ancestors = #{sysDept.ancestors,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.deptName != null">
                dept_name = #{sysDept.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.orderNum != null">
                order_num = #{sysDept.orderNum,jdbcType=INTEGER},
            </if>
            <if test="sysDept.leader != null">
                leader = #{sysDept.leader,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.phone != null">
                phone = #{sysDept.phone,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.email != null">
                email = #{sysDept.email,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.status != null">
                status = #{sysDept.status,jdbcType=CHAR},
            </if>
            <if test="sysDept.delFlag != null">
                del_flag = #{sysDept.delFlag,jdbcType=CHAR},
            </if>
            <if test="sysDept.createBy != null">
                create_by = #{sysDept.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.createTime != null">
                create_time = #{sysDept.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.updateBy != null">
                update_by = #{sysDept.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.updateTime != null">
                update_time = #{sysDept.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.remark != null">
                remark = #{sysDept.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            dept_id = values(dept_id),
            parent_id = values(parent_id),
            ancestors = values(ancestors),
            dept_name = values(dept_name),
            order_num = values(order_num),
            leader = values(leader),
            phone = values(phone),
            email = values(email),
            status = values(status),
            del_flag = values(del_flag),
            create_by = values(create_by),
            create_time = values(create_time),
            update_by = values(update_by),
            update_time = values(update_time),
            remark = values(remark),
        </trim>
    </sql>

    <!--带有控制判断的批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update_Selective">
        <trim suffixOverrides=",">
            <if test="sysDept.deptId != null">
                dept_id = #{item.deptId,jdbcType=BIGINT},
            </if>
            <if test="sysDept.parentId != null">
                parent_id = #{item.parentId,jdbcType=INTEGER},
            </if>
            <if test="sysDept.ancestors != null">
                ancestors = #{item.ancestors,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.deptName != null">
                dept_name = #{item.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.orderNum != null">
                order_num = #{item.orderNum,jdbcType=INTEGER},
            </if>
            <if test="sysDept.leader != null">
                leader = #{item.leader,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.phone != null">
                phone = #{item.phone,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.email != null">
                email = #{item.email,jdbcType=VARCHAR},
            </if>
            <if test="sysDept.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="sysDept.delFlag != null">
                del_flag = #{item.delFlag,jdbcType=CHAR},
            </if>
            <if test="sysDept.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDept.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDept.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入，更新插入值-->
    <sql id="Batch_Operating_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{item.deptId,jdbcType=BIGINT},
            #{item.parentId,jdbcType=INTEGER},
            #{item.ancestors,jdbcType=VARCHAR},
            #{item.deptName,jdbcType=VARCHAR},
            #{item.orderNum,jdbcType=INTEGER},
            #{item.leader,jdbcType=VARCHAR},
            #{item.phone,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR},
            #{item.status,jdbcType=CHAR},
            #{item.delFlag,jdbcType=CHAR},
            #{item.createBy,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=BIGINT},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.remark,jdbcType=VARCHAR}
        </trim>
    </sql>

    <!--批量更新-->
    <sql id="Batch_Update">
        <set>
            dept_id = #{item.deptId,jdbcType=BIGINT},
            parent_id = #{item.parentId,jdbcType=INTEGER},
            ancestors = #{item.ancestors,jdbcType=VARCHAR},
            dept_name = #{item.deptName,jdbcType=VARCHAR},
            order_num = #{item.orderNum,jdbcType=INTEGER},
            leader = #{item.leader,jdbcType=VARCHAR},
            phone = #{item.phone,jdbcType=VARCHAR},
            email = #{item.email,jdbcType=VARCHAR},
            status = #{item.status,jdbcType=CHAR},
            del_flag = #{item.delFlag,jdbcType=CHAR},
            create_by = #{item.createBy,jdbcType=BIGINT},
            create_time = #{item.createTime,jdbcType=TIMESTAMP},
            update_by = #{item.updateBy,jdbcType=BIGINT},
            update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            remark = #{item.remark,jdbcType=VARCHAR}
        </set>
    </sql>

    <!--带有空值检查的批量更新-->
    <sql id="Batch_Update_selective">
        <set>
            <if test="item.deptId != null">
                dept_id = #{item.deptId,jdbcType=BIGINT},
            </if>
            <if test="item.parentId != null">
                parent_id = #{item.parentId,jdbcType=INTEGER},
            </if>
            <if test="item.ancestors != null">
                ancestors = #{item.ancestors,jdbcType=VARCHAR},
            </if>
            <if test="item.deptName != null">
                dept_name = #{item.deptName,jdbcType=VARCHAR},
            </if>
            <if test="item.orderNum != null">
                order_num = #{item.orderNum,jdbcType=INTEGER},
            </if>
            <if test="item.leader != null">
                leader = #{item.leader,jdbcType=VARCHAR},
            </if>
            <if test="item.phone != null">
                phone = #{item.phone,jdbcType=VARCHAR},
            </if>
            <if test="item.email != null">
                email = #{item.email,jdbcType=VARCHAR},
            </if>
            <if test="item.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.delFlag != null">
                del_flag = #{item.delFlag,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>

    <!--带有空值检查的批量操作字段-->
    <sql id="Batch_Operating_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.deptId != null">
                dept_id ,
            </if>
            <if test="item.parentId != null">
                parent_id ,
            </if>
            <if test="item.ancestors != null">
                ancestors ,
            </if>
            <if test="item.deptName != null">
                dept_name ,
            </if>
            <if test="item.orderNum != null">
                order_num ,
            </if>
            <if test="item.leader != null">
                leader ,
            </if>
            <if test="item.phone != null">
                phone ,
            </if>
            <if test="item.email != null">
                email ,
            </if>
            <if test="item.status != null">
                status ,
            </if>
            <if test="item.delFlag != null">
                del_flag ,
            </if>
            <if test="item.createBy != null">
                create_by ,
            </if>
            <if test="item.createTime != null">
                create_time ,
            </if>
            <if test="item.updateBy != null">
                update_by ,
            </if>
            <if test="item.updateTime != null">
                update_time ,
            </if>
            <if test="item.remark != null">
                remark 
            </if>
        </trim>
    </sql>

    <!--带有空值检查的批量操作值-->
    <sql id="Batch_Operating_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.deptId != null">
                #{item.deptId,jdbcType=BIGINT},
            </if>
            <if test="item.parentId != null">
                #{item.parentId,jdbcType=INTEGER},
            </if>
            <if test="item.ancestors != null">
                #{item.ancestors,jdbcType=VARCHAR},
            </if>
            <if test="item.deptName != null">
                #{item.deptName,jdbcType=VARCHAR},
            </if>
            <if test="item.orderNum != null">
                #{item.orderNum,jdbcType=INTEGER},
            </if>
            <if test="item.leader != null">
                #{item.leader,jdbcType=VARCHAR},
            </if>
            <if test="item.phone != null">
                #{item.phone,jdbcType=VARCHAR},
            </if>
            <if test="item.email != null">
                #{item.email,jdbcType=VARCHAR},
            </if>
            <if test="item.status != null">
                #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.delFlag != null">
                #{item.delFlag,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--插入-->
    <insert id="insert" parameterType="com.xiaodao.feign.system.entity.SysDept">
        insert into sys_dept
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
    </insert>

    <!--带有空值检查的插入-->
    <insert id="insertSelective" parameterType="com.xiaodao.feign.system.entity.SysDept">
        insert into sys_dept
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
    </insert>

    <!--更新-->
    <update id="updateByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysDept">
        update sys_dept
        <include refid="Base_Update"/>
        <where>
            dept_id = #{sysDept.deptId,jdbcType=BIGINT}
        </where>
    </update>

    <!--带有空值检查的更新-->
    <update id="updateSelectiveByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysDept">
        update sys_dept
        <include refid="Base_Update_Selective"/>
        <where>
            dept_id = #{sysDept.deptId,jdbcType=BIGINT}
         </where>
    </update>


    <!--更新插入-->
    <insert id="upsert" parameterType="com.xiaodao.feign.system.entity.SysDept">
        insert into sys_dept
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Update"/>
    </insert>


    <!--带有控制判断的更新插入-->
    <insert id="upsertSelective" parameterType="com.xiaodao.feign.system.entity.SysDept">
        insert into sys_dept
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Selective_Update"/>
    </insert>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_dept
        <include refid="Base_Insert_Column"/>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <include refid="Batch_Operating_Value"/>
        </foreach>
    </insert>


    <!-- 批量更新-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dept
            <include refid="Batch_Update"/>
            <where>
                <trim suffixOverrides=",">
                    dept_id = #{item.deptId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 批量更新插入-->
    <update id="batchUpsert" parameterType="java.util.List">
        insert into sys_dept
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Batch_Operating_Value"/>
        on duplicate Column update
        <include refid="Batch_On_Duplicate_Column_Update"/>
    </update>


    <!-- 带有控制判断的批量更新-->
    <update id="batchUpdateSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dept
            <include refid="Batch_Update_selective"/>
            <where>
                <trim suffixOverrides=",">
                    dept_id = #{item.deptId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 带有空值判断的批量插入-->
    <insert id="batchInsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_dept
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
        </foreach>
    </insert>

    <!-- 带有空值判断的批量更新插入-->
    <update id="batchUpsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_dept
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
            on duplicate Column update
            <include refid="Batch_On_Duplicate_Column_Update_Selective"/>
        </foreach>
    </update>


    <!--通过主键批量查询-->
    <select id="queryBatchPrimaryKeys" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            dept_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
            <include refid="Order_By"></include>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--通过主键批量查询-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            dept_id = #{deptId,jdbcType=BIGINT}
        </where>
    </select>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--查询一个-->
    <select id="queryOne" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        limit 1
    </select>


    <!--条件模糊查询-->
    <select id="queryByLikeCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        <include refid="Time_Limit"></include>
    </select>


    <!--模糊查询-->
    <select id="queryFuzzy" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--条件查询数量-->
    <select id="queryCount" resultType="int" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select count(*) from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--条件删除-->
    <delete id="delete" parameterType="com.xiaodao.feign.system.entity.SysDept">
        delete from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_dept
        <where>
            <trim suffixOverrides=",">
                dept_id = #{deptId,jdbcType=BIGINT}
            </trim>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatchByPrimaryKeys" parameterType="java.lang.Long">
        delete from sys_dept
        <where>
            dept_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
        </where>
    </delete>

    <!--分组统计-->
    <select id="statisticsGroup" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select ${sysDept.statisticalProperty} as name,${sysDept.statisticalMethod}(${sysDept.statisticalProperty}) as value from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
         group by ${sysDept.statisticalProperty}
    </select>

    <!--按日统计-->
    <select id="statisticsGroupByDay" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select date_format(create_time, '%Y-%m-%d') as name,${sysDept.statisticalMethod}(${sysDept.statisticalProperty}) as value from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        group by date_format(create_time,'%Y-%m-%d')
    </select>

    <!--按月统计-->
    <select id="statisticsGroupByMonth" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select date_format(create_time, '%Y-%m') as name, ${sysDept.statisticalMethod}(${sysDept.statisticalProperty}) as value from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
        </where>
            group by date_format(create_time,'%Y-%m')
    </select>

    <!--按年统计-->
    <select id="statisticsGroupByYear" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDept">
        select date_format(create_time, '%Y') as name,${sysDept.statisticalMethod}(${sysDept.statisticalProperty}) as value from sys_dept
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
         </where>
            group by date_format(create_time,'%Y')
    </select>

</mapper>