<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysDictTypeMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.feign.system.entity.SysDictType" id="BaseResultMap">
        <result property="dictId" column="dict_id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictType" column="dict_type"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        dict_id,
        dict_name,
        dict_type,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>


    <!--基本插入字段-->
    <sql id="Base_Insert_Column">
    <trim prefix="(" suffix=")" suffixOverrides=",">
        dict_id,
        dict_name,
        dict_type,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </trim>
    </sql>

    <!--基本插入值-->
    <sql id="Base_Insert_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{sysDictType.dictId,jdbcType=BIGINT},
            #{sysDictType.dictName,jdbcType=VARCHAR},
            #{sysDictType.dictType,jdbcType=VARCHAR},
            #{sysDictType.status,jdbcType=CHAR},
            #{sysDictType.createBy,jdbcType=BIGINT},
            #{sysDictType.createTime,jdbcType=TIMESTAMP},
            #{sysDictType.updateBy,jdbcType=BIGINT},
            #{sysDictType.updateTime,jdbcType=TIMESTAMP},
            #{sysDictType.remark,jdbcType=VARCHAR}
    </trim>
    </sql>
    <!--基本选择插入字段-->
    <sql id="Base_Insert_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictType.dictId != null">
                 dict_id,
            </if>
            <if test="sysDictType.dictName != null">
                 dict_name,
            </if>
            <if test="sysDictType.dictType != null">
                 dict_type,
            </if>
            <if test="sysDictType.status != null">
                 status,
            </if>
            <if test="sysDictType.createBy != null">
                 create_by,
            </if>
            <if test="sysDictType.createTime != null">
                 create_time,
            </if>
            <if test="sysDictType.updateBy != null">
                 update_by,
            </if>
            <if test="sysDictType.updateTime != null">
                 update_time,
            </if>
            <if test="sysDictType.remark != null">
                 remark
            </if>
        </trim>
    </sql>

    <!--基本选择插入值-->
    <sql id="Base_Insert_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictType.dictId != null">
                #{sysDictType.dictId,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.dictName != null">
                #{sysDictType.dictName,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.dictType != null">
                #{sysDictType.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.status != null">
                #{sysDictType.status,jdbcType=CHAR},
            </if>
            <if test="sysDictType.createBy != null">
                #{sysDictType.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.createTime != null">
                #{sysDictType.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.updateBy != null">
                #{sysDictType.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.updateTime != null">
                #{sysDictType.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.remark != null">
                #{sysDictType.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--基本更新-->
    <sql id="Base_Update">
        <set>
            dict_id = #{sysDictType.dictId,jdbcType=BIGINT},
            dict_name = #{sysDictType.dictName,jdbcType=VARCHAR},
            dict_type = #{sysDictType.dictType,jdbcType=VARCHAR},
            status = #{sysDictType.status,jdbcType=CHAR},
            create_by = #{sysDictType.createBy,jdbcType=BIGINT},
            create_time = #{sysDictType.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysDictType.updateBy,jdbcType=BIGINT},
            update_time = #{sysDictType.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysDictType.remark,jdbcType=VARCHAR}
        </set>
    </sql>
    <!--带有空值检查的基本更新-->
    <sql id="Base_Update_Selective">
        <set>
            <if test="sysDictType.dictId != null">
                dict_id = #{sysDictType.dictId,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.dictName != null">
                dict_name = #{sysDictType.dictName,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.dictType != null">
                dict_type = #{sysDictType.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.status != null">
                status = #{sysDictType.status,jdbcType=CHAR},
            </if>
            <if test="sysDictType.createBy != null">
                create_by = #{sysDictType.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.createTime != null">
                create_time = #{sysDictType.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.updateBy != null">
                update_by = #{sysDictType.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.updateTime != null">
                update_time = #{sysDictType.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.remark != null">
                remark = #{sysDictType.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
        <if test="sysDictType.dictId != null">
            and dict_id = #{sysDictType.dictId,jdbcType=BIGINT}
        </if>
        <if test="sysDictType.dictName != null">
            and dict_name = #{sysDictType.dictName,jdbcType=VARCHAR}
        </if>
        <if test="sysDictType.dictType != null">
            and dict_type = #{sysDictType.dictType,jdbcType=VARCHAR}
        </if>
        <if test="sysDictType.status != null">
            and status = #{sysDictType.status,jdbcType=CHAR}
        </if>
        <if test="sysDictType.createBy != null">
            and create_by = #{sysDictType.createBy,jdbcType=BIGINT}
        </if>
        <if test="sysDictType.createTime != null">
            and create_time = #{sysDictType.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysDictType.updateBy != null">
            and update_by = #{sysDictType.updateBy,jdbcType=BIGINT}
        </if>
        <if test="sysDictType.updateTime != null">
            and update_time = #{sysDictType.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysDictType.remark != null">
            and remark = #{sysDictType.remark,jdbcType=VARCHAR}
        </if>
    </sql>

    <!--模糊查询条件 -->
    <sql id="Base_Query_Like_Where">
        <if test="sysDictType.dictId != null">
            and dict_id like concat('%',concat(#{sysDictType.dictId},'%'))
        </if>
        <if test="sysDictType.dictName != null">
            and dict_name like concat('%',concat(#{sysDictType.dictName},'%'))
        </if>
        <if test="sysDictType.dictType != null">
            and dict_type like concat('%',concat(#{sysDictType.dictType},'%'))
        </if>
        <if test="sysDictType.status != null">
            and status like concat('%',concat(#{sysDictType.status},'%'))
        </if>
        <if test="sysDictType.createBy != null">
            and create_by like concat('%',concat(#{sysDictType.createBy},'%'))
        </if>
        <if test="sysDictType.createTime != null">
            and create_time like concat('%',concat(#{sysDictType.createTime},'%'))
        </if>
        <if test="sysDictType.updateBy != null">
            and update_by like concat('%',concat(#{sysDictType.updateBy},'%'))
        </if>
        <if test="sysDictType.updateTime != null">
            and update_time like concat('%',concat(#{sysDictType.updateTime},'%'))
        </if>
        <if test="sysDictType.remark != null">
            and remark like concat('%',concat(#{sysDictType.remark},'%'))
        </if>
    </sql>

    <!--模糊查询 -->
    <sql id="Base_Query_Fuzzy_Where">
        or dict_id like concat('%',concat(#{sysDictType.searchValue},'%'))
        or dict_name like concat('%',concat(#{sysDictType.searchValue},'%'))
        or dict_type like concat('%',concat(#{sysDictType.searchValue},'%'))
        or status like concat('%',concat(#{sysDictType.searchValue},'%'))
        or create_by like concat('%',concat(#{sysDictType.searchValue},'%'))
        or create_time like concat('%',concat(#{sysDictType.searchValue},'%'))
        or update_by like concat('%',concat(#{sysDictType.searchValue},'%'))
        or update_time like concat('%',concat(#{sysDictType.searchValue},'%'))
        or remark like concat('%',concat(#{sysDictType.searchValue},'%'))
    </sql>


    <sql id="Order_By">
        order by
        <if test="sysDictType.orderBy != null and sysDictType.orderBy != ''">
            #{sysDictType.orderBy}
        </if>
        <if test="sysDictType.orderBy == null or sysDictType.orderBy==''">
            #{sysDictType.dictId}
        </if>
        <if test="sysDictType.isAsc  == 1">
            DESC
        </if>
    </sql>

    <sql id="Time_Limit">
        <if test="sysDictType.beginTime != null">
            and DATE_FORMAT(#{sysDictType.beginTime},'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="sysDictType.endTime != null">
            and DATE_FORMAT(#{sysDictType.endTime},'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S')
        </if>
    </sql>

    <!--插入更新-->
    <sql id="On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            dict_id = #{sysDictType.dictId,jdbcType=BIGINT},
            dict_name = #{sysDictType.dictName,jdbcType=VARCHAR},
            dict_type = #{sysDictType.dictType,jdbcType=VARCHAR},
            status = #{sysDictType.status,jdbcType=CHAR},
            create_by = #{sysDictType.createBy,jdbcType=BIGINT},
            create_time = #{sysDictType.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysDictType.updateBy,jdbcType=BIGINT},
            update_time = #{sysDictType.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysDictType.remark,jdbcType=VARCHAR}
         </trim>
    </sql>

    <!--带有空值检查的插入更新-->
    <sql id="On_Duplicate_Column_Selective_Update">
        <trim suffixOverrides=",">
            <if test="sysDictType.dictId != null">
                dict_id = #{sysDictType.dictId,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.dictName != null">
                dict_name = #{sysDictType.dictName,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.dictType != null">
                dict_type = #{sysDictType.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.status != null">
                status = #{sysDictType.status,jdbcType=CHAR},
            </if>
            <if test="sysDictType.createBy != null">
                create_by = #{sysDictType.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.createTime != null">
                create_time = #{sysDictType.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.updateBy != null">
                update_by = #{sysDictType.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.updateTime != null">
                update_time = #{sysDictType.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.remark != null">
                remark = #{sysDictType.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            dict_id = values(dict_id),
            dict_name = values(dict_name),
            dict_type = values(dict_type),
            status = values(status),
            create_by = values(create_by),
            create_time = values(create_time),
            update_by = values(update_by),
            update_time = values(update_time),
            remark = values(remark),
        </trim>
    </sql>

    <!--带有控制判断的批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update_Selective">
        <trim suffixOverrides=",">
            <if test="sysDictType.dictId != null">
                dict_id = #{item.dictId,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.dictName != null">
                dict_name = #{item.dictName,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.dictType != null">
                dict_type = #{item.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictType.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="sysDictType.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictType.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictType.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入，更新插入值-->
    <sql id="Batch_Operating_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{item.dictId,jdbcType=BIGINT},
            #{item.dictName,jdbcType=VARCHAR},
            #{item.dictType,jdbcType=VARCHAR},
            #{item.status,jdbcType=CHAR},
            #{item.createBy,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=BIGINT},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.remark,jdbcType=VARCHAR}
        </trim>
    </sql>

    <!--批量更新-->
    <sql id="Batch_Update">
        <set>
            dict_id = #{item.dictId,jdbcType=BIGINT},
            dict_name = #{item.dictName,jdbcType=VARCHAR},
            dict_type = #{item.dictType,jdbcType=VARCHAR},
            status = #{item.status,jdbcType=CHAR},
            create_by = #{item.createBy,jdbcType=BIGINT},
            create_time = #{item.createTime,jdbcType=TIMESTAMP},
            update_by = #{item.updateBy,jdbcType=BIGINT},
            update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            remark = #{item.remark,jdbcType=VARCHAR}
        </set>
    </sql>

    <!--带有空值检查的批量更新-->
    <sql id="Batch_Update_selective">
        <set>
            <if test="item.dictId != null">
                dict_id = #{item.dictId,jdbcType=BIGINT},
            </if>
            <if test="item.dictName != null">
                dict_name = #{item.dictName,jdbcType=VARCHAR},
            </if>
            <if test="item.dictType != null">
                dict_type = #{item.dictType,jdbcType=VARCHAR},
            </if>
            <if test="item.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>

    <!--带有空值检查的批量操作字段-->
    <sql id="Batch_Operating_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.dictId != null">
                dict_id ,
            </if>
            <if test="item.dictName != null">
                dict_name ,
            </if>
            <if test="item.dictType != null">
                dict_type ,
            </if>
            <if test="item.status != null">
                status ,
            </if>
            <if test="item.createBy != null">
                create_by ,
            </if>
            <if test="item.createTime != null">
                create_time ,
            </if>
            <if test="item.updateBy != null">
                update_by ,
            </if>
            <if test="item.updateTime != null">
                update_time ,
            </if>
            <if test="item.remark != null">
                remark 
            </if>
        </trim>
    </sql>

    <!--带有空值检查的批量操作值-->
    <sql id="Batch_Operating_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.dictId != null">
                #{item.dictId,jdbcType=BIGINT},
            </if>
            <if test="item.dictName != null">
                #{item.dictName,jdbcType=VARCHAR},
            </if>
            <if test="item.dictType != null">
                #{item.dictType,jdbcType=VARCHAR},
            </if>
            <if test="item.status != null">
                #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--插入-->
    <insert id="insert" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        insert into sys_dict_type
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
    </insert>

    <!--带有空值检查的插入-->
    <insert id="insertSelective" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        insert into sys_dict_type
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
    </insert>

    <!--更新-->
    <update id="updateByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        update sys_dict_type
        <include refid="Base_Update"/>
        <where>
            dict_id = #{sysDictType.dictId,jdbcType=BIGINT}
        </where>
    </update>

    <!--带有空值检查的更新-->
    <update id="updateSelectiveByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        update sys_dict_type
        <include refid="Base_Update_Selective"/>
        <where>
            dict_id = #{sysDictType.dictId,jdbcType=BIGINT}
         </where>
    </update>


    <!--更新插入-->
    <insert id="upsert" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        insert into sys_dict_type
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Update"/>
    </insert>


    <!--带有控制判断的更新插入-->
    <insert id="upsertSelective" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        insert into sys_dict_type
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Selective_Update"/>
    </insert>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_dict_type
        <include refid="Base_Insert_Column"/>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <include refid="Batch_Operating_Value"/>
        </foreach>
    </insert>


    <!-- 批量更新-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dict_type
            <include refid="Batch_Update"/>
            <where>
                <trim suffixOverrides=",">
                    dict_id = #{item.dictId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 批量更新插入-->
    <update id="batchUpsert" parameterType="java.util.List">
        insert into sys_dict_type
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Batch_Operating_Value"/>
        on duplicate Column update
        <include refid="Batch_On_Duplicate_Column_Update"/>
    </update>


    <!-- 带有控制判断的批量更新-->
    <update id="batchUpdateSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dict_type
            <include refid="Batch_Update_selective"/>
            <where>
                <trim suffixOverrides=",">
                    dict_id = #{item.dictId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 带有空值判断的批量插入-->
    <insert id="batchInsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_dict_type
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
        </foreach>
    </insert>

    <!-- 带有空值判断的批量更新插入-->
    <update id="batchUpsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_dict_type
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
            on duplicate Column update
            <include refid="Batch_On_Duplicate_Column_Update_Selective"/>
        </foreach>
    </update>


    <!--通过主键批量查询-->
    <select id="queryBatchPrimaryKeys" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            dict_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
            <include refid="Order_By"></include>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--通过主键批量查询-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            dict_id = #{dictId,jdbcType=BIGINT}
        </where>
    </select>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--查询一个-->
    <select id="queryOne" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        limit 1
    </select>


    <!--条件模糊查询-->
    <select id="queryByLikeCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>


    <!--模糊查询-->
    <select id="queryFuzzy" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--条件查询数量-->
    <select id="queryCount" resultType="int" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select count(*) from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--条件删除-->
    <delete id="delete" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        delete from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_dict_type
        <where>
            <trim suffixOverrides=",">
                dict_id = #{dictId,jdbcType=BIGINT}
            </trim>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatchByPrimaryKeys" parameterType="java.lang.Long">
        delete from sys_dict_type
        <where>
            dict_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
        </where>
    </delete>

    <!--分组统计-->
    <select id="statisticsGroup" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select ${sysDictType.statisticalProperty} as name,${sysDictType.statisticalMethod}(${sysDictType.statisticalProperty}) as value from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
         group by ${sysDictType.statisticalProperty}
    </select>

    <!--按日统计-->
    <select id="statisticsGroupByDay" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select date_format(create_time, '%Y-%m-%d') as name,${sysDictType.statisticalMethod}(${sysDictType.statisticalProperty}) as value from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        group by date_format(create_time,'%Y-%m-%d')
    </select>

    <!--按月统计-->
    <select id="statisticsGroupByMonth" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select date_format(create_time, '%Y-%m') as name, ${sysDictType.statisticalMethod}(${sysDictType.statisticalProperty}) as value from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
        </where>
            group by date_format(create_time,'%Y-%m')
    </select>

    <!--按年统计-->
    <select id="statisticsGroupByYear" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysDictType">
        select date_format(create_time, '%Y') as name,${sysDictType.statisticalMethod}(${sysDictType.statisticalProperty}) as value from sys_dict_type
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
         </where>
            group by date_format(create_time,'%Y')
    </select>

</mapper>