<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysDictDataMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.system.entity.SysDictData" id="BaseResultMap">
        <result property="dictCode" column="dict_code"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="dictType" column="dict_type"/>
        <result property="cssClass" column="css_class"/>
        <result property="listClass" column="list_class"/>
        <result property="isDefault" column="is_default"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        dict_code ,
        dict_sort ,
        dict_label ,
        dict_value ,
        dict_type ,
        css_class ,
        list_class ,
        is_default ,
        status ,
        create_by ,
        create_time ,
        update_by ,
        update_time ,
        remark 
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
         <if test="sysDictData.dictCode != null">
            and dict_code = #{sysDictData.dictCode,jdbcType=INTEGER}
         </if>
         <if test="sysDictData.dictSort != null">
            and dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER}
         </if>
         <if test="sysDictData.dictLabel != null">
            and dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR}
         </if>
         <if test="sysDictData.dictValue != null">
            and dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR}
         </if>
         <if test="sysDictData.dictType != null">
            and dict_type = #{sysDictData.dictType,jdbcType=VARCHAR}
         </if>
         <if test="sysDictData.cssClass != null">
            and css_class = #{sysDictData.cssClass,jdbcType=VARCHAR}
         </if>
         <if test="sysDictData.listClass != null">
            and list_class = #{sysDictData.listClass,jdbcType=VARCHAR}
         </if>
         <if test="sysDictData.isDefault != null">
            and is_default = #{sysDictData.isDefault,jdbcType=CHAR}
         </if>
         <if test="sysDictData.status != null">
            and status = #{sysDictData.status,jdbcType=CHAR}
         </if>
         <if test="sysDictData.createBy != null">
            and create_by = #{sysDictData.createBy,jdbcType=BIGINT}
         </if>
         <if test="sysDictData.createTime != null">
            and create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP}
         </if>
         <if test="sysDictData.updateBy != null">
            and update_by = #{sysDictData.updateBy,jdbcType=BIGINT}
         </if>
         <if test="sysDictData.updateTime != null">
            and update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP}
         </if>
         <if test="sysDictData.remark != null">
            and remark = #{sysDictData.remark,jdbcType=VARCHAR}
         </if>
    </sql>




    <!--基本更新字段-->
    <sql id="Base_Update_Column">
        <set>
          <if test="sysDictData.dictCode != null">
             dict_code = #{sysDictData.dictCode,jdbcType=INTEGER},
          </if>
          <if test="sysDictData.dictSort != null">
             dict_sort = #{sysDictData.dictSort,jdbcType=INTEGER},
          </if>
          <if test="sysDictData.dictLabel != null">
             dict_label = #{sysDictData.dictLabel,jdbcType=VARCHAR},
          </if>
          <if test="sysDictData.dictValue != null">
             dict_value = #{sysDictData.dictValue,jdbcType=VARCHAR},
          </if>
          <if test="sysDictData.dictType != null">
             dict_type = #{sysDictData.dictType,jdbcType=VARCHAR},
          </if>
          <if test="sysDictData.cssClass != null">
             css_class = #{sysDictData.cssClass,jdbcType=VARCHAR},
          </if>
          <if test="sysDictData.listClass != null">
             list_class = #{sysDictData.listClass,jdbcType=VARCHAR},
          </if>
          <if test="sysDictData.isDefault != null">
             is_default = #{sysDictData.isDefault,jdbcType=CHAR},
          </if>
          <if test="sysDictData.status != null">
             status = #{sysDictData.status,jdbcType=CHAR},
          </if>
          <if test="sysDictData.createBy != null">
             create_by = #{sysDictData.createBy,jdbcType=BIGINT},
          </if>
          <if test="sysDictData.createTime != null">
             create_time = #{sysDictData.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="sysDictData.updateBy != null">
             update_by = #{sysDictData.updateBy,jdbcType=BIGINT},
          </if>
          <if test="sysDictData.updateTime != null">
             update_time = #{sysDictData.updateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="sysDictData.remark != null">
             remark = #{sysDictData.remark,jdbcType=VARCHAR}
          </if>
        </set>
    </sql>


    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictData.dictCode != null">
               dict_code,
            </if>
            <if test="sysDictData.dictSort != null">
               dict_sort,
            </if>
            <if test="sysDictData.dictLabel != null">
               dict_label,
            </if>
            <if test="sysDictData.dictValue != null">
               dict_value,
            </if>
            <if test="sysDictData.dictType != null">
               dict_type,
            </if>
            <if test="sysDictData.cssClass != null">
               css_class,
            </if>
            <if test="sysDictData.listClass != null">
               list_class,
            </if>
            <if test="sysDictData.isDefault != null">
               is_default,
            </if>
            <if test="sysDictData.status != null">
               status,
            </if>
            <if test="sysDictData.createBy != null">
               create_by,
            </if>
            <if test="sysDictData.createTime != null">
               create_time,
            </if>
            <if test="sysDictData.updateBy != null">
               update_by,
            </if>
            <if test="sysDictData.updateTime != null">
               update_time,
            </if>
            <if test="sysDictData.remark != null">
               remark
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="sysDictData.dictCode != null">
             #{sysDictData.dictCode,jdbcType=INTEGER},
             </if>
             <if test="sysDictData.dictSort != null">
             #{sysDictData.dictSort,jdbcType=INTEGER},
             </if>
             <if test="sysDictData.dictLabel != null">
             #{sysDictData.dictLabel,jdbcType=VARCHAR},
             </if>
             <if test="sysDictData.dictValue != null">
             #{sysDictData.dictValue,jdbcType=VARCHAR},
             </if>
             <if test="sysDictData.dictType != null">
             #{sysDictData.dictType,jdbcType=VARCHAR},
             </if>
             <if test="sysDictData.cssClass != null">
             #{sysDictData.cssClass,jdbcType=VARCHAR},
             </if>
             <if test="sysDictData.listClass != null">
             #{sysDictData.listClass,jdbcType=VARCHAR},
             </if>
             <if test="sysDictData.isDefault != null">
             #{sysDictData.isDefault,jdbcType=CHAR},
             </if>
             <if test="sysDictData.status != null">
             #{sysDictData.status,jdbcType=CHAR},
             </if>
             <if test="sysDictData.createBy != null">
             #{sysDictData.createBy,jdbcType=BIGINT},
             </if>
             <if test="sysDictData.createTime != null">
             #{sysDictData.createTime,jdbcType=TIMESTAMP},
             </if>
             <if test="sysDictData.updateBy != null">
             #{sysDictData.updateBy,jdbcType=BIGINT},
             </if>
             <if test="sysDictData.updateTime != null">
             #{sysDictData.updateTime,jdbcType=TIMESTAMP},
             </if>
             <if test="sysDictData.remark != null">
             #{sysDictData.remark,jdbcType=VARCHAR}
             </if>
        </trim>
    </sql>



    <!--批量添加记录到数据库表中-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
             dict_code,
             dict_sort,
             dict_label,
             dict_value,
             dict_type,
             css_class,
             list_class,
             is_default,
             status,
             create_by,
             create_time,
             update_by,
             update_time,
             remark
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.dictCode,jdbcType=INTEGER},
                #{item.dictSort,jdbcType=INTEGER},
                #{item.dictLabel,jdbcType=VARCHAR},
                #{item.dictValue,jdbcType=VARCHAR},
                #{item.dictType,jdbcType=VARCHAR},
                #{item.cssClass,jdbcType=VARCHAR},
                #{item.listClass,jdbcType=VARCHAR},
                #{item.isDefault,jdbcType=CHAR},
                #{item.status,jdbcType=CHAR},
                #{item.createBy,jdbcType=BIGINT},
                #{item.createTime,jdbcType=TIMESTAMP},
                #{item.updateBy,jdbcType=BIGINT},
                #{item.updateTime,jdbcType=TIMESTAMP},
                #{item.remark,jdbcType=VARCHAR}
            </trim>
        </foreach>
    </insert>



    <!-- 根据主键批量更新数据库表中的记录-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_dict_data
            <set>
                <trim suffixOverrides=",">
                    dict_code = #{item.dictCode,jdbcType=INTEGER},
                    dict_sort = #{item.dictSort,jdbcType=INTEGER},
                    dict_label = #{item.dictLabel,jdbcType=VARCHAR},
                    dict_value = #{item.dictValue,jdbcType=VARCHAR},
                    dict_type = #{item.dictType,jdbcType=VARCHAR},
                    css_class = #{item.cssClass,jdbcType=VARCHAR},
                    list_class = #{item.listClass,jdbcType=VARCHAR},
                    is_default = #{item.isDefault,jdbcType=CHAR},
                    status = #{item.status,jdbcType=CHAR},
                    create_by = #{item.createBy,jdbcType=BIGINT},
                    create_time = #{item.createTime,jdbcType=TIMESTAMP},
                    update_by = #{item.updateBy,jdbcType=BIGINT},
                    update_time = #{item.updateTime,jdbcType=TIMESTAMP},
                    remark = #{item.remark,jdbcType=VARCHAR}
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where dict_code = #{item.dictCode,jdbcType=INTEGER}
                </trim>
            </where>
        </foreach>
    </update>


    <!--存在即更新否则插入-->
    <update id="upsert" parameterType="com.xiaodao.entity.SysDictData">
        insert into sys_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
             dict_code ,
             dict_sort ,
             dict_label ,
             dict_value ,
             dict_type ,
             css_class ,
             list_class ,
             is_default ,
             status ,
             create_by ,
             create_time ,
             update_by ,
             update_time ,
             remark 
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
             #{sysDictData.dictCode,jdbcType=INTEGER},
             #{sysDictData.dictSort,jdbcType=INTEGER},
             #{sysDictData.dictLabel,jdbcType=VARCHAR},
             #{sysDictData.dictValue,jdbcType=VARCHAR},
             #{sysDictData.dictType,jdbcType=VARCHAR},
             #{sysDictData.cssClass,jdbcType=VARCHAR},
             #{sysDictData.listClass,jdbcType=VARCHAR},
             #{sysDictData.isDefault,jdbcType=CHAR},
             #{sysDictData.status,jdbcType=CHAR},
             #{sysDictData.createBy,jdbcType=BIGINT},
             #{sysDictData.createTime,jdbcType=TIMESTAMP},
             #{sysDictData.updateBy,jdbcType=BIGINT},
             #{sysDictData.updateTime,jdbcType=TIMESTAMP},
             #{sysDictData.remark,jdbcType=VARCHAR}
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
          #{sysDictData.dictCode,jdbcType=INTEGER},
          #{sysDictData.dictSort,jdbcType=INTEGER},
          #{sysDictData.dictLabel,jdbcType=VARCHAR},
          #{sysDictData.dictValue,jdbcType=VARCHAR},
          #{sysDictData.dictType,jdbcType=VARCHAR},
          #{sysDictData.cssClass,jdbcType=VARCHAR},
          #{sysDictData.listClass,jdbcType=VARCHAR},
          #{sysDictData.isDefault,jdbcType=CHAR},
          #{sysDictData.status,jdbcType=CHAR},
          #{sysDictData.createBy,jdbcType=BIGINT},
          #{sysDictData.createTime,jdbcType=TIMESTAMP},
          #{sysDictData.updateBy,jdbcType=BIGINT},
          #{sysDictData.updateTime,jdbcType=TIMESTAMP},
          #{sysDictData.remark,jdbcType=VARCHAR}
        </trim>
    </update>


    <!--带有空值检查的存在即更新否则插入-->
    <update id="upsertSelective" parameterType="com.xiaodao.system.entity.SysDictData">
        insert into sys_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictData.dictCode != null">
                dict_code,
            </if>
            <if test="sysDictData.dictSort != null">
                dict_sort,
            </if>
            <if test="sysDictData.dictLabel != null">
                dict_label,
            </if>
            <if test="sysDictData.dictValue != null">
                dict_value,
            </if>
            <if test="sysDictData.dictType != null">
                dict_type,
            </if>
            <if test="sysDictData.cssClass != null">
                css_class,
            </if>
            <if test="sysDictData.listClass != null">
                list_class,
            </if>
            <if test="sysDictData.isDefault != null">
                is_default,
            </if>
            <if test="sysDictData.status != null">
                status,
            </if>
            <if test="sysDictData.createBy != null">
                create_by,
            </if>
            <if test="sysDictData.createTime != null">
                create_time,
            </if>
            <if test="sysDictData.updateBy != null">
                update_by,
            </if>
            <if test="sysDictData.updateTime != null">
                update_time,
            </if>
            <if test="sysDictData.remark != null">
                remark
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysDictData.dictCode !=null ">
                #{sysDictData.dictCode,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictSort !=null ">
                #{sysDictData.dictSort,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictLabel !=null ">
                #{sysDictData.dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictValue !=null ">
                #{sysDictData.dictValue,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictType !=null ">
                #{sysDictData.dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.cssClass !=null ">
                #{sysDictData.cssClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.listClass !=null ">
                #{sysDictData.listClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.isDefault !=null ">
                #{sysDictData.isDefault,jdbcType=CHAR},
            </if>
            <if test="sysDictData.status !=null ">
                #{sysDictData.status,jdbcType=CHAR},
            </if>
            <if test="sysDictData.createBy !=null ">
                #{sysDictData.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.createTime !=null ">
                #{sysDictData.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.updateBy !=null ">
                #{sysDictData.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.updateTime !=null ">
                #{sysDictData.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.remark !=null ">
                #{sysDictData.remark,jdbcType=VARCHAR}
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="sysDictData.dictCode !=null ">
             #{dictCode,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictSort !=null ">
             #{dictSort,jdbcType=INTEGER},
            </if>
            <if test="sysDictData.dictLabel !=null ">
             #{dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictValue !=null ">
             #{dictValue,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.dictType !=null ">
             #{dictType,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.cssClass !=null ">
             #{cssClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.listClass !=null ">
             #{listClass,jdbcType=VARCHAR},
            </if>
            <if test="sysDictData.isDefault !=null ">
             #{isDefault,jdbcType=CHAR},
            </if>
            <if test="sysDictData.status !=null ">
             #{status,jdbcType=CHAR},
            </if>
            <if test="sysDictData.createBy !=null ">
             #{createBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.createTime !=null ">
             #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.updateBy !=null ">
             #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysDictData.updateTime !=null ">
             #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysDictData.remark !=null ">
             #{remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="com.xiaodao.system.entity.SysDictData">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotalCount" resultType="long">
        select count(*) from sys_dict_data
    </select>




</mapper>