<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysPostMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.feign.system.entity.SysPost" id="BaseResultMap">
        <result property="postId" column="post_id"/>
        <result property="postCode" column="post_code"/>
        <result property="postName" column="post_name"/>
        <result property="postSort" column="post_sort"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        post_id,
        post_code,
        post_name,
        post_sort,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>


    <!--基本插入字段-->
    <sql id="Base_Insert_Column">
    <trim prefix="(" suffix=")" suffixOverrides=",">
        post_id,
        post_code,
        post_name,
        post_sort,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </trim>
    </sql>

    <!--基本插入值-->
    <sql id="Base_Insert_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{sysPost.postId,jdbcType=BIGINT},
            #{sysPost.postCode,jdbcType=VARCHAR},
            #{sysPost.postName,jdbcType=VARCHAR},
            #{sysPost.postSort,jdbcType=INTEGER},
            #{sysPost.status,jdbcType=CHAR},
            #{sysPost.createBy,jdbcType=BIGINT},
            #{sysPost.createTime,jdbcType=TIMESTAMP},
            #{sysPost.updateBy,jdbcType=BIGINT},
            #{sysPost.updateTime,jdbcType=TIMESTAMP},
            #{sysPost.remark,jdbcType=VARCHAR}
    </trim>
    </sql>
    <!--基本选择插入字段-->
    <sql id="Base_Insert_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysPost.postId != null">
                 post_id,
            </if>
            <if test="sysPost.postCode != null">
                 post_code,
            </if>
            <if test="sysPost.postName != null">
                 post_name,
            </if>
            <if test="sysPost.postSort != null">
                 post_sort,
            </if>
            <if test="sysPost.status != null">
                 status,
            </if>
            <if test="sysPost.createBy != null">
                 create_by,
            </if>
            <if test="sysPost.createTime != null">
                 create_time,
            </if>
            <if test="sysPost.updateBy != null">
                 update_by,
            </if>
            <if test="sysPost.updateTime != null">
                 update_time,
            </if>
            <if test="sysPost.remark != null">
                 remark
            </if>
        </trim>
    </sql>

    <!--基本选择插入值-->
    <sql id="Base_Insert_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysPost.postId != null">
                #{sysPost.postId,jdbcType=BIGINT},
            </if>
            <if test="sysPost.postCode != null">
                #{sysPost.postCode,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postName != null">
                #{sysPost.postName,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postSort != null">
                #{sysPost.postSort,jdbcType=INTEGER},
            </if>
            <if test="sysPost.status != null">
                #{sysPost.status,jdbcType=CHAR},
            </if>
            <if test="sysPost.createBy != null">
                #{sysPost.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.createTime != null">
                #{sysPost.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.updateBy != null">
                #{sysPost.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.updateTime != null">
                #{sysPost.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.remark != null">
                #{sysPost.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--基本更新-->
    <sql id="Base_Update">
        <set>
            post_id = #{sysPost.postId,jdbcType=BIGINT},
            post_code = #{sysPost.postCode,jdbcType=VARCHAR},
            post_name = #{sysPost.postName,jdbcType=VARCHAR},
            post_sort = #{sysPost.postSort,jdbcType=INTEGER},
            status = #{sysPost.status,jdbcType=CHAR},
            create_by = #{sysPost.createBy,jdbcType=BIGINT},
            create_time = #{sysPost.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysPost.updateBy,jdbcType=BIGINT},
            update_time = #{sysPost.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysPost.remark,jdbcType=VARCHAR}
        </set>
    </sql>
    <!--带有空值检查的基本更新-->
    <sql id="Base_Update_Selective">
        <set>
            <if test="sysPost.postId != null">
                post_id = #{sysPost.postId,jdbcType=BIGINT},
            </if>
            <if test="sysPost.postCode != null">
                post_code = #{sysPost.postCode,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postName != null">
                post_name = #{sysPost.postName,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postSort != null">
                post_sort = #{sysPost.postSort,jdbcType=INTEGER},
            </if>
            <if test="sysPost.status != null">
                status = #{sysPost.status,jdbcType=CHAR},
            </if>
            <if test="sysPost.createBy != null">
                create_by = #{sysPost.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.createTime != null">
                create_time = #{sysPost.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.updateBy != null">
                update_by = #{sysPost.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.updateTime != null">
                update_time = #{sysPost.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.remark != null">
                remark = #{sysPost.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
        <if test="sysPost.postId != null">
            and post_id = #{sysPost.postId,jdbcType=BIGINT}
        </if>
        <if test="sysPost.postCode != null">
            and post_code = #{sysPost.postCode,jdbcType=VARCHAR}
        </if>
        <if test="sysPost.postName != null">
            and post_name = #{sysPost.postName,jdbcType=VARCHAR}
        </if>
        <if test="sysPost.postSort != null">
            and post_sort = #{sysPost.postSort,jdbcType=INTEGER}
        </if>
        <if test="sysPost.status != null">
            and status = #{sysPost.status,jdbcType=CHAR}
        </if>
        <if test="sysPost.createBy != null">
            and create_by = #{sysPost.createBy,jdbcType=BIGINT}
        </if>
        <if test="sysPost.createTime != null">
            and create_time = #{sysPost.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysPost.updateBy != null">
            and update_by = #{sysPost.updateBy,jdbcType=BIGINT}
        </if>
        <if test="sysPost.updateTime != null">
            and update_time = #{sysPost.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysPost.remark != null">
            and remark = #{sysPost.remark,jdbcType=VARCHAR}
        </if>
    </sql>

    <!--模糊查询条件 -->
    <sql id="Base_Query_Like_Where">
        <if test="sysPost.postId != null">
            and post_id like concat('%',concat(#{sysPost.postId},'%'))
        </if>
        <if test="sysPost.postCode != null">
            and post_code like concat('%',concat(#{sysPost.postCode},'%'))
        </if>
        <if test="sysPost.postName != null">
            and post_name like concat('%',concat(#{sysPost.postName},'%'))
        </if>
        <if test="sysPost.postSort != null">
            and post_sort like concat('%',concat(#{sysPost.postSort},'%'))
        </if>
        <if test="sysPost.status != null">
            and status like concat('%',concat(#{sysPost.status},'%'))
        </if>
        <if test="sysPost.createBy != null">
            and create_by like concat('%',concat(#{sysPost.createBy},'%'))
        </if>
        <if test="sysPost.createTime != null">
            and create_time like concat('%',concat(#{sysPost.createTime},'%'))
        </if>
        <if test="sysPost.updateBy != null">
            and update_by like concat('%',concat(#{sysPost.updateBy},'%'))
        </if>
        <if test="sysPost.updateTime != null">
            and update_time like concat('%',concat(#{sysPost.updateTime},'%'))
        </if>
        <if test="sysPost.remark != null">
            and remark like concat('%',concat(#{sysPost.remark},'%'))
        </if>
    </sql>

    <!--模糊查询 -->
    <sql id="Base_Query_Fuzzy_Where">
        or post_id like concat('%',concat(#{sysPost.searchValue},'%'))
        or post_code like concat('%',concat(#{sysPost.searchValue},'%'))
        or post_name like concat('%',concat(#{sysPost.searchValue},'%'))
        or post_sort like concat('%',concat(#{sysPost.searchValue},'%'))
        or status like concat('%',concat(#{sysPost.searchValue},'%'))
        or create_by like concat('%',concat(#{sysPost.searchValue},'%'))
        or create_time like concat('%',concat(#{sysPost.searchValue},'%'))
        or update_by like concat('%',concat(#{sysPost.searchValue},'%'))
        or update_time like concat('%',concat(#{sysPost.searchValue},'%'))
        or remark like concat('%',concat(#{sysPost.searchValue},'%'))
    </sql>


    <sql id="Order_By">
        order by
        <if test="sysPost.orderBy != null and sysPost.orderBy != ''">
            #{sysPost.orderBy}
        </if>
        <if test="sysPost.orderBy == null or sysPost.orderBy==''">
            #{sysPost.postId}
        </if>
        <if test="sysPost.isAsc  == 1">
            DESC
        </if>
    </sql>

    <sql id="Time_Limit">
        <if test="sysPost.beginTime != null">
            and DATE_FORMAT(#{sysPost.createTime},'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="sysPost.endTime != null">
            and DATE_FORMAT(#{sysPost.createTime},'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
    </sql>

    <!--插入更新-->
    <sql id="On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            post_id = #{sysPost.postId,jdbcType=BIGINT},
            post_code = #{sysPost.postCode,jdbcType=VARCHAR},
            post_name = #{sysPost.postName,jdbcType=VARCHAR},
            post_sort = #{sysPost.postSort,jdbcType=INTEGER},
            status = #{sysPost.status,jdbcType=CHAR},
            create_by = #{sysPost.createBy,jdbcType=BIGINT},
            create_time = #{sysPost.createTime,jdbcType=TIMESTAMP},
            update_by = #{sysPost.updateBy,jdbcType=BIGINT},
            update_time = #{sysPost.updateTime,jdbcType=TIMESTAMP},
            remark = #{sysPost.remark,jdbcType=VARCHAR}
         </trim>
    </sql>

    <!--带有空值检查的插入更新-->
    <sql id="On_Duplicate_Column_Selective_Update">
        <trim suffixOverrides=",">
            <if test="sysPost.postId != null">
                post_id = #{sysPost.postId,jdbcType=BIGINT},
            </if>
            <if test="sysPost.postCode != null">
                post_code = #{sysPost.postCode,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postName != null">
                post_name = #{sysPost.postName,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postSort != null">
                post_sort = #{sysPost.postSort,jdbcType=INTEGER},
            </if>
            <if test="sysPost.status != null">
                status = #{sysPost.status,jdbcType=CHAR},
            </if>
            <if test="sysPost.createBy != null">
                create_by = #{sysPost.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.createTime != null">
                create_time = #{sysPost.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.updateBy != null">
                update_by = #{sysPost.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.updateTime != null">
                update_time = #{sysPost.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.remark != null">
                remark = #{sysPost.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            post_id = values(post_id),
            post_code = values(post_code),
            post_name = values(post_name),
            post_sort = values(post_sort),
            status = values(status),
            create_by = values(create_by),
            create_time = values(create_time),
            update_by = values(update_by),
            update_time = values(update_time),
            remark = values(remark),
        </trim>
    </sql>

    <!--带有控制判断的批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update_Selective">
        <trim suffixOverrides=",">
            <if test="sysPost.postId != null">
                post_id = #{item.postId,jdbcType=BIGINT},
            </if>
            <if test="sysPost.postCode != null">
                post_code = #{item.postCode,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postName != null">
                post_name = #{item.postName,jdbcType=VARCHAR},
            </if>
            <if test="sysPost.postSort != null">
                post_sort = #{item.postSort,jdbcType=INTEGER},
            </if>
            <if test="sysPost.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="sysPost.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="sysPost.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysPost.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--批量插入，更新插入值-->
    <sql id="Batch_Operating_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{item.postId,jdbcType=BIGINT},
            #{item.postCode,jdbcType=VARCHAR},
            #{item.postName,jdbcType=VARCHAR},
            #{item.postSort,jdbcType=INTEGER},
            #{item.status,jdbcType=CHAR},
            #{item.createBy,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=BIGINT},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.remark,jdbcType=VARCHAR}
        </trim>
    </sql>

    <!--批量更新-->
    <sql id="Batch_Update">
        <set>
            post_id = #{item.postId,jdbcType=BIGINT},
            post_code = #{item.postCode,jdbcType=VARCHAR},
            post_name = #{item.postName,jdbcType=VARCHAR},
            post_sort = #{item.postSort,jdbcType=INTEGER},
            status = #{item.status,jdbcType=CHAR},
            create_by = #{item.createBy,jdbcType=BIGINT},
            create_time = #{item.createTime,jdbcType=TIMESTAMP},
            update_by = #{item.updateBy,jdbcType=BIGINT},
            update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            remark = #{item.remark,jdbcType=VARCHAR}
        </set>
    </sql>

    <!--带有空值检查的批量更新-->
    <sql id="Batch_Update_selective">
        <set>
            <if test="item.postId != null">
                post_id = #{item.postId,jdbcType=BIGINT},
            </if>
            <if test="item.postCode != null">
                post_code = #{item.postCode,jdbcType=VARCHAR},
            </if>
            <if test="item.postName != null">
                post_name = #{item.postName,jdbcType=VARCHAR},
            </if>
            <if test="item.postSort != null">
                post_sort = #{item.postSort,jdbcType=INTEGER},
            </if>
            <if test="item.status != null">
                status = #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                create_by = #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                update_by = #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                update_time = #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                remark = #{item.remark,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>

    <!--带有空值检查的批量操作字段-->
    <sql id="Batch_Operating_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.postId != null">
                post_id ,
            </if>
            <if test="item.postCode != null">
                post_code ,
            </if>
            <if test="item.postName != null">
                post_name ,
            </if>
            <if test="item.postSort != null">
                post_sort ,
            </if>
            <if test="item.status != null">
                status ,
            </if>
            <if test="item.createBy != null">
                create_by ,
            </if>
            <if test="item.createTime != null">
                create_time ,
            </if>
            <if test="item.updateBy != null">
                update_by ,
            </if>
            <if test="item.updateTime != null">
                update_time ,
            </if>
            <if test="item.remark != null">
                remark 
            </if>
        </trim>
    </sql>

    <!--带有空值检查的批量操作值-->
    <sql id="Batch_Operating_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.postId != null">
                #{item.postId,jdbcType=BIGINT},
            </if>
            <if test="item.postCode != null">
                #{item.postCode,jdbcType=VARCHAR},
            </if>
            <if test="item.postName != null">
                #{item.postName,jdbcType=VARCHAR},
            </if>
            <if test="item.postSort != null">
                #{item.postSort,jdbcType=INTEGER},
            </if>
            <if test="item.status != null">
                #{item.status,jdbcType=CHAR},
            </if>
            <if test="item.createBy != null">
                #{item.createBy,jdbcType=BIGINT},
            </if>
            <if test="item.createTime != null">
                #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updateBy != null">
                #{item.updateBy,jdbcType=BIGINT},
            </if>
            <if test="item.updateTime != null">
                #{item.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.remark != null">
                #{item.remark,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <!--插入-->
    <insert id="insert" parameterType="com.xiaodao.feign.system.entity.SysPost">
        insert into sys_post
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
    </insert>

    <!--带有空值检查的插入-->
    <insert id="insertSelective" parameterType="com.xiaodao.feign.system.entity.SysPost">
        insert into sys_post
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
    </insert>

    <!--更新-->
    <update id="updateByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysPost">
        update sys_post
        <include refid="Base_Update"/>
        <where>
            post_id = #{sysPost.postId,jdbcType=BIGINT}
        </where>
    </update>

    <!--带有空值检查的更新-->
    <update id="updateSelectiveByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysPost">
        update sys_post
        <include refid="Base_Update_Selective"/>
        <where>
            post_id = #{sysPost.postId,jdbcType=BIGINT}
         </where>
    </update>


    <!--更新插入-->
    <insert id="upsert" parameterType="com.xiaodao.feign.system.entity.SysPost">
        insert into sys_post
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Update"/>
    </insert>


    <!--带有控制判断的更新插入-->
    <insert id="upsertSelective" parameterType="com.xiaodao.feign.system.entity.SysPost">
        insert into sys_post
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Selective_Update"/>
    </insert>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_post
        <include refid="Base_Insert_Column"/>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <include refid="Batch_Operating_Value"/>
        </foreach>
    </insert>


    <!-- 批量更新-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_post
            <include refid="Batch_Update"/>
            <where>
                <trim suffixOverrides=",">
                    post_id = #{item.postId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 批量更新插入-->
    <update id="batchUpsert" parameterType="java.util.List">
        insert into sys_post
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Batch_Operating_Value"/>
        on duplicate Column update
        <include refid="Batch_On_Duplicate_Column_Update"/>
    </update>


    <!-- 带有控制判断的批量更新-->
    <update id="batchUpdateSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_post
            <include refid="Batch_Update_selective"/>
            <where>
                <trim suffixOverrides=",">
                    post_id = #{item.postId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 带有空值判断的批量插入-->
    <insert id="batchInsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_post
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
        </foreach>
    </insert>

    <!-- 带有空值判断的批量更新插入-->
    <update id="batchUpsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_post
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
            on duplicate Column update
            <include refid="Batch_On_Duplicate_Column_Update_Selective"/>
        </foreach>
    </update>


    <!--通过主键批量查询-->
    <select id="queryBatchPrimaryKeys" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            post_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
            <include refid="Order_By"></include>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--通过主键批量查询-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            post_id = #{postId,jdbcType=BIGINT}
        </where>
    </select>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--查询一个-->
    <select id="queryOne" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        limit 1
    </select>


    <!--条件模糊查询-->
    <select id="queryByLikeCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        <include refid="Time_Limit"></include>
    </select>


    <!--模糊查询-->
    <select id="queryFuzzy" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--条件查询数量-->
    <select id="queryCount" resultType="int" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select count(*) from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--条件删除-->
    <delete id="delete" parameterType="com.xiaodao.feign.system.entity.SysPost">
        delete from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_post
        <where>
            <trim suffixOverrides=",">
                post_id = #{postId,jdbcType=BIGINT}
            </trim>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatchByPrimaryKeys" parameterType="java.lang.Long">
        delete from sys_post
        <where>
            post_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
        </where>
    </delete>

    <!--分组统计-->
    <select id="statisticsGroup" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select ${sysPost.statisticalProperty} as name,${sysPost.statisticalMethod}(${sysPost.statisticalProperty}) as value from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
         group by ${sysPost.statisticalProperty}
    </select>

    <!--按日统计-->
    <select id="statisticsGroupByDay" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select date_format(create_time, '%Y-%m-%d') as name,${sysPost.statisticalMethod}(${sysPost.statisticalProperty}) as value from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        group by date_format(create_time,'%Y-%m-%d')
    </select>

    <!--按月统计-->
    <select id="statisticsGroupByMonth" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select date_format(create_time, '%Y-%m') as name, ${sysPost.statisticalMethod}(${sysPost.statisticalProperty}) as value from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
        </where>
            group by date_format(create_time,'%Y-%m')
    </select>

    <!--按年统计-->
    <select id="statisticsGroupByYear" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysPost">
        select date_format(create_time, '%Y') as name,${sysPost.statisticalMethod}(${sysPost.statisticalProperty}) as value from sys_post
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
         </where>
            group by date_format(create_time,'%Y')
    </select>

</mapper>