<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysUserOnlineMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.feign.system.entity.SysUserOnline" id="BaseResultMap">
        <result property="sessionid" column="sessionId"/>
        <result property="loginName" column="login_name"/>
        <result property="deptName" column="dept_name"/>
        <result property="ipaddr" column="ipaddr"/>
        <result property="loginLocation" column="login_location"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="status" column="status"/>
        <result property="startTimestamp" column="start_timestamp"/>
        <result property="lastAccessTime" column="last_access_time"/>
        <result property="expireTime" column="expire_time"/>
    </resultMap>

    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        sessionId,
        login_name,
        dept_name,
        ipaddr,
        login_location,
        browser,
        os,
        status,
        start_timestamp,
        last_access_time,
        expire_time
    </sql>


    <!--基本插入字段-->
    <sql id="Base_Insert_Column">
    <trim prefix="(" suffix=")" suffixOverrides=",">
        sessionId,
        login_name,
        dept_name,
        ipaddr,
        login_location,
        browser,
        os,
        status,
        start_timestamp,
        last_access_time,
        expire_time
    </trim>
    </sql>

    <!--基本插入值-->
    <sql id="Base_Insert_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{sysUserOnline.sessionid,jdbcType=VARCHAR},
            #{sysUserOnline.loginName,jdbcType=VARCHAR},
            #{sysUserOnline.deptName,jdbcType=VARCHAR},
            #{sysUserOnline.ipaddr,jdbcType=VARCHAR},
            #{sysUserOnline.loginLocation,jdbcType=VARCHAR},
            #{sysUserOnline.browser,jdbcType=VARCHAR},
            #{sysUserOnline.os,jdbcType=VARCHAR},
            #{sysUserOnline.status,jdbcType=VARCHAR},
            #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP},
            #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP},
            #{sysUserOnline.expireTime,jdbcType=INTEGER}
    </trim>
    </sql>
    <!--基本选择插入字段-->
    <sql id="Base_Insert_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserOnline.sessionid != null">
                 sessionId,
            </if>
            <if test="sysUserOnline.loginName != null">
                 login_name,
            </if>
            <if test="sysUserOnline.deptName != null">
                 dept_name,
            </if>
            <if test="sysUserOnline.ipaddr != null">
                 ipaddr,
            </if>
            <if test="sysUserOnline.loginLocation != null">
                 login_location,
            </if>
            <if test="sysUserOnline.browser != null">
                 browser,
            </if>
            <if test="sysUserOnline.os != null">
                 os,
            </if>
            <if test="sysUserOnline.status != null">
                 status,
            </if>
            <if test="sysUserOnline.startTimestamp != null">
                 start_timestamp,
            </if>
            <if test="sysUserOnline.lastAccessTime != null">
                 last_access_time,
            </if>
            <if test="sysUserOnline.expireTime != null">
                 expire_time
            </if>
        </trim>
    </sql>

    <!--基本选择插入值-->
    <sql id="Base_Insert_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserOnline.sessionid != null">
                #{sysUserOnline.sessionid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginName != null">
                #{sysUserOnline.loginName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.deptName != null">
                #{sysUserOnline.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.ipaddr != null">
                #{sysUserOnline.ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginLocation != null">
                #{sysUserOnline.loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.browser != null">
                #{sysUserOnline.browser,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.os != null">
                #{sysUserOnline.os,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.status != null">
                #{sysUserOnline.status,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.startTimestamp != null">
                #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.lastAccessTime != null">
                #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.expireTime != null">
                #{sysUserOnline.expireTime,jdbcType=INTEGER}
            </if>
        </trim>
    </sql>

    <!--基本更新-->
    <sql id="Base_Update">
        <set>
            sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR},
            login_name = #{sysUserOnline.loginName,jdbcType=VARCHAR},
            dept_name = #{sysUserOnline.deptName,jdbcType=VARCHAR},
            ipaddr = #{sysUserOnline.ipaddr,jdbcType=VARCHAR},
            login_location = #{sysUserOnline.loginLocation,jdbcType=VARCHAR},
            browser = #{sysUserOnline.browser,jdbcType=VARCHAR},
            os = #{sysUserOnline.os,jdbcType=VARCHAR},
            status = #{sysUserOnline.status,jdbcType=VARCHAR},
            start_timestamp = #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP},
            last_access_time = #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP},
            expire_time = #{sysUserOnline.expireTime,jdbcType=INTEGER}
        </set>
    </sql>
    <!--带有空值检查的基本更新-->
    <sql id="Base_Update_Selective">
        <set>
            <if test="sysUserOnline.sessionid != null">
                sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginName != null">
                login_name = #{sysUserOnline.loginName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.deptName != null">
                dept_name = #{sysUserOnline.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.ipaddr != null">
                ipaddr = #{sysUserOnline.ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginLocation != null">
                login_location = #{sysUserOnline.loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.browser != null">
                browser = #{sysUserOnline.browser,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.os != null">
                os = #{sysUserOnline.os,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.status != null">
                status = #{sysUserOnline.status,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.startTimestamp != null">
                start_timestamp = #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.lastAccessTime != null">
                last_access_time = #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.expireTime != null">
                expire_time = #{sysUserOnline.expireTime,jdbcType=INTEGER}
            </if>
        </set>
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
        <if test="sysUserOnline.sessionid != null">
            and sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.loginName != null">
            and login_name = #{sysUserOnline.loginName,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.deptName != null">
            and dept_name = #{sysUserOnline.deptName,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.ipaddr != null">
            and ipaddr = #{sysUserOnline.ipaddr,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.loginLocation != null">
            and login_location = #{sysUserOnline.loginLocation,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.browser != null">
            and browser = #{sysUserOnline.browser,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.os != null">
            and os = #{sysUserOnline.os,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.status != null">
            and status = #{sysUserOnline.status,jdbcType=VARCHAR}
        </if>
        <if test="sysUserOnline.startTimestamp != null">
            and start_timestamp = #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP}
        </if>
        <if test="sysUserOnline.lastAccessTime != null">
            and last_access_time = #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sysUserOnline.expireTime != null">
            and expire_time = #{sysUserOnline.expireTime,jdbcType=INTEGER}
        </if>
    </sql>

    <!--模糊查询条件 -->
    <sql id="Base_Query_Like_Where">
        <if test="sysUserOnline.sessionid != null">
            and sessionId like concat('%',concat(#{sysUserOnline.sessionid},'%'))
        </if>
        <if test="sysUserOnline.loginName != null">
            and login_name like concat('%',concat(#{sysUserOnline.loginName},'%'))
        </if>
        <if test="sysUserOnline.deptName != null">
            and dept_name like concat('%',concat(#{sysUserOnline.deptName},'%'))
        </if>
        <if test="sysUserOnline.ipaddr != null">
            and ipaddr like concat('%',concat(#{sysUserOnline.ipaddr},'%'))
        </if>
        <if test="sysUserOnline.loginLocation != null">
            and login_location like concat('%',concat(#{sysUserOnline.loginLocation},'%'))
        </if>
        <if test="sysUserOnline.browser != null">
            and browser like concat('%',concat(#{sysUserOnline.browser},'%'))
        </if>
        <if test="sysUserOnline.os != null">
            and os like concat('%',concat(#{sysUserOnline.os},'%'))
        </if>
        <if test="sysUserOnline.status != null">
            and status like concat('%',concat(#{sysUserOnline.status},'%'))
        </if>
        <if test="sysUserOnline.startTimestamp != null">
            and start_timestamp like concat('%',concat(#{sysUserOnline.startTimestamp},'%'))
        </if>
        <if test="sysUserOnline.lastAccessTime != null">
            and last_access_time like concat('%',concat(#{sysUserOnline.lastAccessTime},'%'))
        </if>
        <if test="sysUserOnline.expireTime != null">
            and expire_time like concat('%',concat(#{sysUserOnline.expireTime},'%'))
        </if>
    </sql>

    <!--模糊查询 -->
    <sql id="Base_Query_Fuzzy_Where">
        or sessionId like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or login_name like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or dept_name like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or ipaddr like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or login_location like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or browser like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or os like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or status like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or start_timestamp like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or last_access_time like concat('%',concat(#{sysUserOnline.searchValue},'%'))
        or expire_time like concat('%',concat(#{sysUserOnline.searchValue},'%'))
    </sql>


    <sql id="Order_By">
        order by
        <if test="sysUserOnline.orderBy != null and sysUserOnline.orderBy != ''">
            #{sysUserOnline.orderBy}
        </if>
        <if test="sysUserOnline.orderBy == null or sysUserOnline.orderBy==''">
            #{sysUserOnline.sessionId}
        </if>
        <if test="baseService.isAsc  == 1">
            DESC
        </if>
    </sql>

    <sql id="Time_Limit">
        <if test="sysUserOnline.beginTime != null">
            and DATE_FORMAT(#{sysUserOnline.createTime},'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="sysUserOnline.endTime != null">
            and DATE_FORMAT(#{sysUserOnline.createTime},'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%S')
        </if>
    </sql>

    <!--插入更新-->
    <sql id="On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR},
            login_name = #{sysUserOnline.loginName,jdbcType=VARCHAR},
            dept_name = #{sysUserOnline.deptName,jdbcType=VARCHAR},
            ipaddr = #{sysUserOnline.ipaddr,jdbcType=VARCHAR},
            login_location = #{sysUserOnline.loginLocation,jdbcType=VARCHAR},
            browser = #{sysUserOnline.browser,jdbcType=VARCHAR},
            os = #{sysUserOnline.os,jdbcType=VARCHAR},
            status = #{sysUserOnline.status,jdbcType=VARCHAR},
            start_timestamp = #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP},
            last_access_time = #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP},
            expire_time = #{sysUserOnline.expireTime,jdbcType=INTEGER}
         </trim>
    </sql>

    <!--带有空值检查的插入更新-->
    <sql id="On_Duplicate_Column_Selective_Update">
        <trim suffixOverrides=",">
            <if test="sysUserOnline.sessionid != null">
                sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginName != null">
                login_name = #{sysUserOnline.loginName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.deptName != null">
                dept_name = #{sysUserOnline.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.ipaddr != null">
                ipaddr = #{sysUserOnline.ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginLocation != null">
                login_location = #{sysUserOnline.loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.browser != null">
                browser = #{sysUserOnline.browser,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.os != null">
                os = #{sysUserOnline.os,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.status != null">
                status = #{sysUserOnline.status,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.startTimestamp != null">
                start_timestamp = #{sysUserOnline.startTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.lastAccessTime != null">
                last_access_time = #{sysUserOnline.lastAccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.expireTime != null">
                expire_time = #{sysUserOnline.expireTime,jdbcType=INTEGER}
            </if>
        </trim>
    </sql>

    <!--批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update">
        <trim suffixOverrides=",">
            sessionId = values(sessionId),
            login_name = values(login_name),
            dept_name = values(dept_name),
            ipaddr = values(ipaddr),
            login_location = values(login_location),
            browser = values(browser),
            os = values(os),
            status = values(status),
            start_timestamp = values(start_timestamp),
            last_access_time = values(last_access_time),
            expire_time = values(expire_time),
        </trim>
    </sql>

    <!--带有控制判断的批量插入更新-->
    <sql id="Batch_On_Duplicate_Column_Update_Selective">
        <trim suffixOverrides=",">
            <if test="sysUserOnline.sessionid != null">
                sessionId = #{item.sessionid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginName != null">
                login_name = #{item.loginName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.deptName != null">
                dept_name = #{item.deptName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.ipaddr != null">
                ipaddr = #{item.ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.loginLocation != null">
                login_location = #{item.loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.browser != null">
                browser = #{item.browser,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.os != null">
                os = #{item.os,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.status != null">
                status = #{item.status,jdbcType=VARCHAR},
            </if>
            <if test="sysUserOnline.startTimestamp != null">
                start_timestamp = #{item.startTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.lastAccessTime != null">
                last_access_time = #{item.lastAccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUserOnline.expireTime != null">
                expire_time = #{item.expireTime,jdbcType=INTEGER}
            </if>
        </trim>
    </sql>

    <!--批量插入，更新插入值-->
    <sql id="Batch_Operating_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{item.sessionid,jdbcType=VARCHAR},
            #{item.loginName,jdbcType=VARCHAR},
            #{item.deptName,jdbcType=VARCHAR},
            #{item.ipaddr,jdbcType=VARCHAR},
            #{item.loginLocation,jdbcType=VARCHAR},
            #{item.browser,jdbcType=VARCHAR},
            #{item.os,jdbcType=VARCHAR},
            #{item.status,jdbcType=VARCHAR},
            #{item.startTimestamp,jdbcType=TIMESTAMP},
            #{item.lastAccessTime,jdbcType=TIMESTAMP},
            #{item.expireTime,jdbcType=INTEGER}
        </trim>
    </sql>

    <!--批量更新-->
    <sql id="Batch_Update">
        <set>
            sessionId = #{item.sessionid,jdbcType=VARCHAR},
            login_name = #{item.loginName,jdbcType=VARCHAR},
            dept_name = #{item.deptName,jdbcType=VARCHAR},
            ipaddr = #{item.ipaddr,jdbcType=VARCHAR},
            login_location = #{item.loginLocation,jdbcType=VARCHAR},
            browser = #{item.browser,jdbcType=VARCHAR},
            os = #{item.os,jdbcType=VARCHAR},
            status = #{item.status,jdbcType=VARCHAR},
            start_timestamp = #{item.startTimestamp,jdbcType=TIMESTAMP},
            last_access_time = #{item.lastAccessTime,jdbcType=TIMESTAMP},
            expire_time = #{item.expireTime,jdbcType=INTEGER}
        </set>
    </sql>

    <!--带有空值检查的批量更新-->
    <sql id="Batch_Update_selective">
        <set>
            <if test="item.sessionid != null">
                sessionId = #{item.sessionid,jdbcType=VARCHAR},
            </if>
            <if test="item.loginName != null">
                login_name = #{item.loginName,jdbcType=VARCHAR},
            </if>
            <if test="item.deptName != null">
                dept_name = #{item.deptName,jdbcType=VARCHAR},
            </if>
            <if test="item.ipaddr != null">
                ipaddr = #{item.ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="item.loginLocation != null">
                login_location = #{item.loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="item.browser != null">
                browser = #{item.browser,jdbcType=VARCHAR},
            </if>
            <if test="item.os != null">
                os = #{item.os,jdbcType=VARCHAR},
            </if>
            <if test="item.status != null">
                status = #{item.status,jdbcType=VARCHAR},
            </if>
            <if test="item.startTimestamp != null">
                start_timestamp = #{item.startTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="item.lastAccessTime != null">
                last_access_time = #{item.lastAccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.expireTime != null">
                expire_time = #{item.expireTime,jdbcType=INTEGER}
            </if>
        </set>
    </sql>

    <!--带有空值检查的批量操作字段-->
    <sql id="Batch_Operating_Selective_Column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.sessionid != null">
                sessionId ,
            </if>
            <if test="item.loginName != null">
                login_name ,
            </if>
            <if test="item.deptName != null">
                dept_name ,
            </if>
            <if test="item.ipaddr != null">
                ipaddr ,
            </if>
            <if test="item.loginLocation != null">
                login_location ,
            </if>
            <if test="item.browser != null">
                browser ,
            </if>
            <if test="item.os != null">
                os ,
            </if>
            <if test="item.status != null">
                status ,
            </if>
            <if test="item.startTimestamp != null">
                start_timestamp ,
            </if>
            <if test="item.lastAccessTime != null">
                last_access_time ,
            </if>
            <if test="item.expireTime != null">
                expire_time 
            </if>
        </trim>
    </sql>

    <!--带有空值检查的批量操作值-->
    <sql id="Batch_Operating_Selective_Value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.sessionid != null">
                #{item.sessionid,jdbcType=VARCHAR},
            </if>
            <if test="item.loginName != null">
                #{item.loginName,jdbcType=VARCHAR},
            </if>
            <if test="item.deptName != null">
                #{item.deptName,jdbcType=VARCHAR},
            </if>
            <if test="item.ipaddr != null">
                #{item.ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="item.loginLocation != null">
                #{item.loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="item.browser != null">
                #{item.browser,jdbcType=VARCHAR},
            </if>
            <if test="item.os != null">
                #{item.os,jdbcType=VARCHAR},
            </if>
            <if test="item.status != null">
                #{item.status,jdbcType=VARCHAR},
            </if>
            <if test="item.startTimestamp != null">
                #{item.startTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="item.lastAccessTime != null">
                #{item.lastAccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.expireTime != null">
                #{item.expireTime,jdbcType=INTEGER}
            </if>
        </trim>
    </sql>

    <!--插入-->
    <insert id="insert" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        insert into sys_user_online
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
    </insert>

    <!--带有空值检查的插入-->
    <insert id="insertSelective" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        insert into sys_user_online
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
    </insert>

    <!--更新-->
    <update id="updateByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        update sys_user_online
        <include refid="Base_Update"/>
        <where>
            sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR}
        </where>
    </update>

    <!--带有空值检查的更新-->
    <update id="updateSelectiveByPrimaryKey" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        update sys_user_online
        <include refid="Base_Update_Selective"/>
        <where>
            sessionId = #{sysUserOnline.sessionid,jdbcType=VARCHAR}
         </where>
    </update>


    <!--更新插入-->
    <insert id="upsert" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        insert into sys_user_online
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Base_Insert_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Update"/>
    </insert>


    <!--带有控制判断的更新插入-->
    <insert id="upsertSelective" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        insert into sys_user_online
        <include refid="Base_Insert_Selective_Column"/>
        values
        <include refid="Base_Insert_Selective_Value"/>
        on duplicate Column update
        <include refid="On_Duplicate_Column_Selective_Update"/>
    </insert>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_user_online
        <include refid="Base_Insert_Column"/>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <include refid="Batch_Operating_Value"/>
        </foreach>
    </insert>


    <!-- 批量更新-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_user_online
            <include refid="Batch_Update"/>
            <where>
                <trim suffixOverrides=",">
                    sessionId = #{item.sessionid,jdbcType=VARCHAR}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 批量更新插入-->
    <update id="batchUpsert" parameterType="java.util.List">
        insert into sys_user_online
        <include refid="Base_Insert_Column"/>
        values
        <include refid="Batch_Operating_Value"/>
        on duplicate Column update
        <include refid="Batch_On_Duplicate_Column_Update"/>
    </update>


    <!-- 带有控制判断的批量更新-->
    <update id="batchUpdateSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_user_online
            <include refid="Batch_Update_selective"/>
            <where>
                <trim suffixOverrides=",">
                    sessionId = #{item.sessionid,jdbcType=VARCHAR}
                </trim>
            </where>
        </foreach>
    </update>


    <!-- 带有空值判断的批量插入-->
    <insert id="batchInsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_user_online
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
        </foreach>
    </insert>

    <!-- 带有空值判断的批量更新插入-->
    <update id="batchUpsertSelective" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into sys_user_online
            <include refid="Batch_Operating_Selective_Column"/>
            values
            <include refid="Batch_Operating_Selective_Value"/>
            on duplicate Column update
            <include refid="Batch_On_Duplicate_Column_Update_Selective"/>
        </foreach>
    </update>


    <!--通过主键批量查询-->
    <select id="queryBatchPrimaryKeys" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_user_online
        <where>
            sessionId in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
            <include refid="Order_By"></include>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--通过主键批量查询-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_user_online
        <where>
            sessionId = #{sessionid,jdbcType=VARCHAR}
        </where>
    </select>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select
        <include refid="Base_Column_List"/>
        from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--查询一个-->
    <select id="queryOne" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select
        <include refid="Base_Column_List"/>
        from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        limit 1
    </select>


    <!--条件模糊查询-->
    <select id="queryByLikeCondition" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select
        <include refid="Base_Column_List"/>
        from sys_user_online
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
        <include refid="Time_Limit"></include>
    </select>


    <!--模糊查询-->
    <select id="queryFuzzy" resultMap="BaseResultMap" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select
        <include refid="Base_Column_List"/>
        from sys_user_online
        <where>
            <include refid="Base_Query_Like_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        <include refid="Order_By"></include>
    </select>

    <!--条件查询数量-->
    <select id="queryCount" resultType="int" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select count(*) from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </select>

    <!--条件删除-->
    <delete id="delete" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        delete from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_user_online
        <where>
            <trim suffixOverrides=",">
                sessionId = #{sessionid,jdbcType=VARCHAR}
            </trim>
            <include refid="Time_Limit"></include>
        </where>
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatchByPrimaryKeys" parameterType="java.lang.Long">
        delete from sys_user_online
        <where>
            sessionId in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item }
            </foreach>
        </where>
    </delete>

    <!--分组统计-->
    <select id="statisticsGroup" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select ${sysUserOnline.statisticalProperty} as name,${sysUserOnline.statisticalMethod}(${sysUserOnline.statisticalProperty}) as value from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
         group by ${sysUserOnline.statisticalProperty}
    </select>

    <!--按日统计-->
    <select id="statisticsGroupByDay" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select date_format(create_time, '%Y-%m-%d') as name,${sysUserOnline.statisticalMethod}(${sysUserOnline.statisticalProperty}) as value from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"></include>
        </where>
        group by date_format(create_time,'%Y-%m-%d')
    </select>

    <!--按月统计-->
    <select id="statisticsGroupByMonth" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select date_format(create_time, '%Y-%m') as name, ${sysUserOnline.statisticalMethod}(${sysUserOnline.statisticalProperty}) as value from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
        </where>
            group by date_format(create_time,'%Y-%m')
    </select>

    <!--按年统计-->
    <select id="statisticsGroupByYear" resultType="java.util.Map" parameterType="com.xiaodao.feign.system.entity.SysUserOnline">
        select date_format(create_time, '%Y') as name,${sysUserOnline.statisticalMethod}(${sysUserOnline.statisticalProperty}) as value from sys_user_online
        <where>
            <include refid="Base_Query_Where"/>
            <include refid="Time_Limit"/>
         </where>
            group by date_format(create_time,'%Y')
    </select>

</mapper>