<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaodao.system.mapper.SysUserRoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.xiaodao.system.entity.SysUserRole" id="BaseResultMap">
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>


    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        user_id ,
        role_id 
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
         <if test="sysUserRole.userId != null">
            and user_id = #{sysUserRole.userId,jdbcType=BIGINT}
         </if>
         <if test="sysUserRole.roleId != null">
            and role_id = #{sysUserRole.roleId,jdbcType=BIGINT}
         </if>
    </sql>




    <!--基本更新字段-->
    <sql id="Base_Update_Column">
        <set>
          <if test="sysUserRole.userId != null">
             user_id = #{sysUserRole.userId,jdbcType=BIGINT},
          </if>
          <if test="sysUserRole.roleId != null">
             role_id = #{sysUserRole.roleId,jdbcType=BIGINT}
          </if>
        </set>
    </sql>


    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserRole.userId != null">
               user_id,
            </if>
            <if test="sysUserRole.roleId != null">
               role_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="sysUserRole.userId != null">
             #{sysUserRole.userId,jdbcType=BIGINT},
             </if>
             <if test="sysUserRole.roleId != null">
             #{sysUserRole.roleId,jdbcType=BIGINT}
             </if>
        </trim>
    </sql>



    <!--批量添加记录到数据库表中-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
             user_id,
             role_id
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.userId,jdbcType=BIGINT},
                #{item.roleId,jdbcType=BIGINT}
            </trim>
        </foreach>
    </insert>



    <!-- 根据主键批量更新数据库表中的记录-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update sys_user_role
            <set>
                <trim suffixOverrides=",">
                    user_id = #{item.userId,jdbcType=BIGINT},
                    role_id = #{item.roleId,jdbcType=BIGINT}
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where user_id = #{item.userId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!--存在即更新否则插入-->
    <update id="upsert" parameterType="com.xiaodao.entity.SysUserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
             user_id ,
             role_id 
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
             #{sysUserRole.userId,jdbcType=BIGINT},
             #{sysUserRole.roleId,jdbcType=BIGINT}
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
          #{sysUserRole.userId,jdbcType=BIGINT},
          #{sysUserRole.roleId,jdbcType=BIGINT}
        </trim>
    </update>


    <!--带有空值检查的存在即更新否则插入-->
    <update id="upsertSelective" parameterType="com.xiaodao.system.entity.SysUserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserRole.userId != null">
                user_id,
            </if>
            <if test="sysUserRole.roleId != null">
                role_id
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserRole.userId !=null ">
                #{sysUserRole.userId,jdbcType=BIGINT},
            </if>
            <if test="sysUserRole.roleId !=null ">
                #{sysUserRole.roleId,jdbcType=BIGINT}
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="sysUserRole.userId !=null ">
             #{userId,jdbcType=BIGINT},
            </if>
            <if test="sysUserRole.roleId !=null ">
             #{roleId,jdbcType=BIGINT}
            </if>
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="com.xiaodao.system.entity.SysUserRole">
        select
        <include refid="Base_Column_List"/>
        from sys_user_role
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotalCount" resultType="long">
        select count(*) from sys_user_role
    </select>




</mapper>