package ${genconfig.entityPackageName};

import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import com.xiaodao.core.domain.BaseEntity;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.extern.slf4j.Slf4j;

import java.util.Date;

@Data
@Slf4j
public class ${gentable.className} extends BaseEntity {
<#list gentable.columns as field>
    <#if gentable.extendsBase == "false" || (field.javaFieldName != "createTime" && field.javaFieldName != "createBy" && field.javaFieldName != "updateTime" && field.javaFieldName != "updateBy" && field.javaFieldName != "remark")>
    /**
     * ${field.comment}
     */
    <#if field.key == "PRI">@JsonSerialize(using = ToStringSerializer.class)</#if>
    @ApiModelProperty("${field.comment}")
    private ${field.javaType} ${field.javaFieldName};
    </#if>
</#list>

}