package ${genconfig.servicePackageName};

import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

import ${genconfig.entityPackageName}.${gentable.className};
import org.springframework.validation.annotation.Validated;

import java.util.List;
import java.util.Map;




/**
 * @description I${gentable.className} Service层
 * @author ${genconfig.author}
 * @since jdk1.8
 */
@Validated
public interface I${gentable.className}Service {

    /**
     * 新增
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int insert(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 带有空值判断的新增
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int insertSelective(@NotNull(message = "参数不能为空") ${gentable.className} ${gentable.camelCaseclassName});


    /**
     * 批量插入
     * @param list
     * @return int
     */
    int batchInsert(@Size(min = 1, message = "参数不能为空")List<${gentable.className}> list);

    /**
     * 带有空值判断的批量插入
     * @param list
     * @return int
     */
    int batchInsertSelective(@Size(min = 1, message = "参数不能为空")List<${gentable.className}> list);

    /**
     * 根据主键更新
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int updateByPrimaryKey(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 带有空值判断的主键更新
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int updateSelectiveByPrimaryKey(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 批量更新
     * @param list
     * @return int
     */
    int batchUpdate(@Size(min = 1, message = "参数不能为空")List<${gentable.className}> list);

    /**
     * 带有空值判断的批量更新
     * @param list
     * @return int
     */
    int batchUpdateSelective(@Size(min = 1, message = "参数不能为空")List<${gentable.className}> list);


    /**
     * 更新插入
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int upsert(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 带有空值判断的更新插入
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int upsertSelective(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 批量更新插入
     * @param list
     * @return int
     */
    int batchUpsert(@Size(min = 1, message = "参数不能为空")List<${gentable.className}> list);

    /**
     * 带有空值判断的批量更新插入
     * @param list
     * @return int
     */
    int batchUpsertSelective(@Size(min = 1, message = "参数不能为空")List<${gentable.className}> list);


    /**
     * 通过主键删除
     * @param ${gentable.pkColumn.javaFieldName}
     * @return int
     */

    int deleteByPrimaryKey(@NotNull(message = "参数不能为空")${gentable.pkColumn.javaType} ${gentable.pkColumn.javaFieldName});

    /**
     * 通过主键批量删除
     * @param list
     * @return int
     */
    int deleteBatchByPrimaryKeys(@Size(min = 1, message = "参数不能为空")List<${gentable.pkColumn.javaType}> list);

    /**
     * 条件删除
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int delete(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 通过主键查询
     * @param  ${gentable.pkColumn.javaFieldName}
     * @return ${gentable.className} ${gentable.camelCaseclassName}
     */
    ${gentable.className} queryByPrimaryKey(@NotNull(message = "参数不能为空")${gentable.pkColumn.javaType} ${gentable.pkColumn.javaFieldName});

    /**
     * 通过主键批量查询
     * @param list
     * @return List<${gentable.className}>
     */
    List<${gentable.className}> queryBatchPrimaryKeys(@Size(min = 1, message = "参数不能为空")List<${gentable.pkColumn.javaType}> list);

    /**
     * 条件查询一个
     * @param ${gentable.camelCaseclassName}
     * @return List<${gentable.className}>
     */
    ${gentable.className} queryOne(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 条件查询
     * @param ${gentable.camelCaseclassName}
     * @return List<${gentable.className}>
     */
    List<${gentable.className}> queryByCondition(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 模糊查询
     * @param ${gentable.camelCaseclassName}
     * @return List<${gentable.className}>
     */
    List<${gentable.className}> queryFuzzy(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 模糊条件查询
     * @param ${gentable.camelCaseclassName}
     * @return List<${gentable.className}>
     */
    List<${gentable.className}> queryByLikeCondition(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 条件查询数量
     * @param ${gentable.camelCaseclassName}
     * @return int
     */
    int queryCount(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 分组统计
     * @param ${gentable.camelCaseclassName}
     * @return List<Map<String, Object>>
     */
    List<Map<String, Object>> statisticsGroup(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 日统计
     * @param ${gentable.camelCaseclassName}
     * @return List<Map<String, Object>>
     */
    List<Map<String, Object>> statisticsGroupByDay(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 月统计
     * @param ${gentable.camelCaseclassName}
     * @return List<Map<String, Object>>
     */
    List<Map<String, Object>> statisticsGroupByMonth(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});

    /**
     * 年统计
     * @param ${gentable.camelCaseclassName}
     * @return List<Map<String, Object>>
     */
    List<Map<String, Object>> statisticsGroupByYear(@NotNull(message = "参数不能为空")${gentable.className} ${gentable.camelCaseclassName});


}